@page "/sign-out/signed-out"

@model SignedOutViewModel

@{
    ViewData["Title"] = "Signed out";
}

<div>
    <div class="background" role="presentation">
        <div style="background-image: url(&quot;https://aadcdn.msftauth.net/shared/1.0/content/images/backgrounds/2-small_2055002f2daae2ed8f69f03944c0e5d9.jpg&quot;);"></div>
        <div class="backgroundImage" style="background-image: url(&quot;https://aadcdn.msftauth.net/shared/1.0/content/images/backgrounds/2_6ffe0a92d779c878835b40171ffc2e13.jpg&quot;);"></div>
    </div>
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <img class="banner-logo" role="presentation" src="https://aadcdn.msftauth.net/shared/1.0/content/images/microsoft_logo_ea19b2112f4dfd8e90b4505ef7dcb4f9.png">
                <div role="alert">
                    <div id="login_workload_logo_text" class="row text-title" role="heading">You've signed out</div>
                    <div class="row text-body text-block-body">
                        <div id="SignOutStatusMessage" style>You've signed out of your account. It's a good idea to close all browser windows.</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    body {
        font-family: "Segoe UI Webfont", -apple-system, "Helvetica Neue", "Lucida Grande", "Roboto", "Ebrima", "Nirmala UI", "Gadugi", "Segoe Xbox Symbol", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee", "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
        font-size: .9375rem;
        line-height: 1.25rem;
        padding-bottom: .227px;
        padding-top: .227px;
        color: #000;
        background-color: #fff;
        margin: 0;
        direction: ltr;
    }    

    .outer {
        display: table;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .middle {
        display: table-cell;
        vertical-align: middle;
    }

    .innter {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        max-width: 440px;
        width: calc(100% - 40px);
        padding: 44px;
        margin-bottom: 28px;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        min-width: 320px;
        min-height: 338px;
        overflow: hidden;
    }
    img {
        border: 0;
        vertical-align: middle;
    }

    .banner-logo {
        max-height: 36px;
    }

    h1, h2, h3, h4, h5, h6, .text-headline, .text-header, .text-subheader, .text-title, .text-subtitle, .text-body, .text-base, .text-caption, .text-caption-alt, .text-subcaption, p {
        margin-bottom: 20px;
        margin-top: 20px;
        margin-bottom: 1.25rem;
        margin-top: 1.25rem;
    }

    .text-title, h3 {
        font-size: 24px;
        line-height: 28px;
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 1.75rem;
        padding-bottom: 2.3632px;
        padding-top: 2.3632px;
    }    
    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .text-body, p {
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
        font-size: .9375rem;
        line-height: 1.25rem;
        padding-bottom: .227px;
        padding-top: .227px;
    }

    h3, .text-body, p {
        padding: 0;
        margin-top: 16px;
        margin-bottom: 12px;
    }
    .text-title, .text-title p {
        color: #1b1b1b;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 0;
        margin-top: 16px;
        margin-bottom: 12px;
        font-family: "Segoe UI", "Helvetica Neue", "Lucida Grande", "Roboto", "Ebrima", "Nirmala UI", "Gadugi", "Segoe Xbox Symbol", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee", "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
    }
</style>