@page "/sign-out/signed-out"

@model SignedOutViewModel

@{
    ViewData["Title"] = "Signed out";
}

<div>

    <h2>You've signed out</h2>
    You've signed out of your account. It's a good idea to close all browser windows.
</div>