<div class="background-container">
    <div class="background-image"></div>
</div>

<style>
    .background-container {
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        z-index: -1;
        position: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
        background-color: rgb(242, 242, 242);
    }

    .background-image {
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        z-index: -1;
        position: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
        background-image: url(https://logincdn.msftauth.net/shared/5/js/../images/2_bc3d32a696895f78c19d.svg);
    }
</style>