@model string

<div>
    <div class="identity-banner">
        @Model
    </div>
</div>

<style>
    .identity-banner {
        overflow-x: hidden;
        overflow-y: hidden;
        margin-bottom: 16px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 16px;
        white-space: nowrap;
        line-height: 24px;
        text-overflow: ellipsis;
    }
</style>