@page "/identity/sign-in"

@model SignInViewModel
@{
    ViewData["Title"] = "Sign In";
}


<img src="#">

<div>Sign In</div>

<div>
    Continue to Application Name
</div>


<input type="email" placeholder="example@domain.com">

<input type="password" placeholder="Your password">

<div>
    Don't have an account? <a asp-page="/identity/signUp">Create one!</a>
</div>

<a asp-page="/identity/forgotPassword">Can't access your account?</a>

<button>Return</button>
<button>Continue</button>

<div>
    <a>Continue with Microsoft</a>
    <a>Continue with Google</a>
</div>