@page "/users/sign-out"
@model SignOutViewModel
@{
    ViewData["Title"] = "Sign out";
}

<div class="logout-page">
    <div class="lead">
        <h1>Sign Out</h1>
        <p>Would you like to sign out?</p>
    </div>

    <form method="post">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Yes</button>
        </div>
    </form>
</div>
