@page "sign-up/name"
@model SignUpBirthdateViewModel
@{
    ViewData["Title"] = "What's your birthdate?";
    Layout = "_AnonymousLayout";
}

<form method="post">
    <div class="form-header">
        <div>
            <div role="heading">@ViewData["Title"]</div>
        </div>
    </div>
    
    <select>Month</select>
    <select>Day</select>
    <input type="number" placeholder="Year">
    
    <button type="submit">Next</button>

    <div>A child account enables you to enforce parental controls and impose usage limits for this device for reasons of privacy and safety. You can manage these settings using our Family Safety app. Learn more at https://aka.ms/family-safety-app</div>
</form>

@section Scripts {
    <partial name="_ClientValidation" />
}