@page "/sign-up/birth-date"

@model BirthDateViewModel

@{
    Layout = "_DefaultLayout";
    ViewData["Title"] = "What's your birthdate?";
}

<form method="post">
    <label asp-for="Region"></label>
    <select asp-for="Region" asp-items="Model.Regions"></select>

    <label>Birthdate</label>
    
    <div asp-validation-summary="ModelOnly"></div>
    
    <select asp-for="BirthDate.Day" asp-items="Model.Days"></select>
    <select asp-for="BirthDate.Month" asp-items="Model.Months"></select>
    <input type="number" asp-for="BirthDate.Year" min="1905" max="@DateTimeOffset.Now.Year">

    <button type="submit">Next</button>
</form>

@section Scripts {
    <partial name="_ValidationScripts" />
}
