@page "sign-up/name"
@model SignUpBirthdateViewModel
@{
    ViewData["Title"] = "What's your birthdate?";
    Layout = "_AnonymousLayout";
}

<form method="post">
    <span></span>
    
    <select>Month</select>
    <select>Day</select>
    <input type="number" placeholder="Year">
    
    <button type="submit">Next</button>
</form>

@section Scripts {
    <partial name="_ClientValidation" />
}