<a class="nav-link" asp-page="./index">Profile</a>
<a class="nav-link" asp-page="./changePassword">Change Password</a>
<a class="nav-link" asp-page="./externalLogins">External Logins</a>
<a class="nav-link" asp-page="./twoFactorAuthentication">Two Factor Authentication</a>
