@page
@model EmailViewModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = "email";
}

<h3>@ViewData["Title"]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
