@page "/identity/profile/two-factor-authentication"
@model TwoFactorAuthenticationViewModel
@{
    ViewData["Title"] = "Two-factor authentication";
    ViewData["ActivePage"] = "two-factor";
}

<h1>2FA Manage</h1>