@page "/identity-resources/{resourceId}/properties"
@model IdentityResourcePropertiesViewModel
@{
    ViewData["Title"] = "Identity Resource Properties";
}

<h1>
    Identity Resource Properties
</h1>
