@page "/security-info-updated"

@model SecurityInfoUpdatedViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Security Info Updated";
}

<div>
    Security Info Updated
</div>

<style>
</style>