@page
@model SignInViewModel
@{
}

<fluent-card id="card-sign-in">
    <h1>Sign In</h1>

    <form method="post">
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
        </div>
        
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
        </div>

        <fluent-button type="submit" appearance="accent">Sign In</fluent-button>
    </form>
</fluent-card>

