@page "/profile/accounts"

@model AccountsViewModel

@{
    ViewData["Title"] = "Accounts";
}

<div>Accounts</div>

<div>Create new account</div>


@foreach (var account in Model.Accounts)
{
    <div>
        <div>@account.Id</div>
        <div>@account.Name</div>
    </div>
}