
<div>
    <form id="reset-password-form" name="resetPasswordForm" data-testid="resetPasswordForm" novalidate>
        <!-- Heading -->
        <div>@ViewData["Title"]</div>
        
        <!-- Explanation Text -->
        <div>
            <div id="explanation-text"></div>
        </div>
        
        <!-- Email input -->
        <div>
        </div>
        
        <!-- Buttons -->
        <div>

        </div>
    </form>
</div>

<style>
</style>