@page "/identity/stay-signed-in"

@model StaySignInViewModel

@{
    ViewData["Title"] = "Page title";
}

<div>
    <img src=""/>

    <div>mengsyue.tsai@outlook.com</div>

    <form method="post">
        <div>Stay signed in?</div>
        <div>Stay signed in so you don't have to sign in again next time.</div>

        <div>
            <div>
                <label>
                    <input type="checkbox" value="true"/>
                    <span>Don't show this again</span>
                </label>
            </div>
            <div>
                <button type="submit" name="StaySignedIn" value="false">No</button>
                <button type="submit" name="StaySignedIn" value="true">Yes</button>
            </div>
        </div>
    </form>
</div>