@page
@model SignUpViewModel
@{
    ViewData["Title"] = "Sign In";
}

<h1>Sign Up</h1>

<form method="post">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>

    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
    </div>

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Sign Up</button>
    <a class="btn btn-primary" asp-page="/users/signin/index">Sign In</a>
</form>