
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" id="profile" asp-page="./Index"></a>Profile</a></li>
    <li class="nav-item"><a class="nav-link" id="email" asp-page="./email" >Email</a></li>
    <li class="nav-item"><a class="nav-link" id="change-password" asp-page="./changePassword" >Password</a></li>

    @if ((bool)(ViewData["ManageNav.HasExternalLogins"] ?? false))
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link " asp-page="./externalLogins">External logins</a></li>
    }
    
    <li class="nav-item"><a class="nav-link" id="two-factor" asp-page="./twoFactorAuthentication" >Two-factor authentication</a></li>
    <li class="nav-item"><a class="nav-link" id="personal-data" asp-page="./personalData" >Personal data</a></li>
</ul>
