@page "/identity/manage/external-logins"
@model ExternalLoginsViewModel
@{
    ViewData["Title"] = "Manage your external logins";
    ViewData["ActivePage"] = "external-logins";
}

<h1>
    @ViewData["Title"]
</h1>