@page "/identity/manage"
@model IdentityManageViewModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = "/index";
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />


<dl>
    <dt>Password:</dt>
    <dd>
        <a>Change</a>
    </dd>
    
    <dt>External Authentication</dt>
    <dd>
        <a>Manage</a>
    </dd>

    <dt>Phone Number</dt>

    <dt>Two-Factor Authentication</dt>

    <dt>Authentication App</dt>

</dl>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
