@page "/security"
@model SecurityViewModel
@{
}

<a asp-page="/password/change/index">Change password</a>
<a>Two-step verification</a>

<div class="security-page-intro">
    <h2>Microsoft helps you stay protected online</h2>
    <span>How you sign in, the devices you're signed into, and the files you save to the cloud are all important pieces to your account's online security.</span>
</div>

<div>
    <div>
        <div>Account</div>
        <div>Strengthen sign-in options beyonda strong password</div>
        <a>Manage how I sign in</a>
    </div>

    <div>
        <div>Data</div>
        <div>Make sure nothing gets lots with file protection</div>    
        <a>Go to data security</a>
    </div>

    <div>
        <div>Devices</div>
        <div>Keep your devices more secure</div>
        <a>View my devices</a>
    </div>
</div>
