@page "/error"
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div>
    
    <div>
        IdentityServerErrorId: @Model.ErrorId 
    </div>

    <div>
        RequestId: @Model.RequestId
    </div>
</div>