<div class="brand-container">
    <div style="display: inherit; flex: inherit; justify-content: inherit; order: inherit; align-self: inherit; min-width: inherit;">
        <div class="brand">
            <a asp-page="/profile/index" class="brand-link">
                RichillCapital identity
            </a>
        </div>
    </div>
</div>

<style>
    .brand-container{
        height: 100%;
        line-height: 48px;
        display: flex;
    }

    .brand {
        display: inherit;
        flex: inherit;
        justify-content: inherit;
        order: inherit;
        align-self: inherit;
        min-width: inherit;
    }

    .brand-link {
        font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: inherit;
        font-weight: 600;
        color: rgb(255, 255, 255);
        outline: none;
        text-decoration: none;
        padding-left: 8px;
        padding-right: 20px;
        color: rgb(242, 242, 242);
        background: rgb(0, 111, 201);
        text-decoration: none;    
    }        
</style>