<div class="change-password-button-root">
    <a class="button-link" asp-page="/password/change/index">
        <div class="icon-wrapper"></div>

        <div class="text-wrapper">
            <span class="text-primary">Change password</span>
            <span class="text-secondary">Security</span>
        </div>
    </a>
</div>

<style>
    .change-password-button-root {
        text-overflow: ellipsis;
        font-family: "Segoe UI Variable Text", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        font-weight: 400;
        flex-basis: auto;
        height: auto;
        width: auto;
        flex-shrink: 1;
    }

    .button-link {
        font-family: "Segoe UI Variable Text", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: inherit;
        font-weight: inherit;
        color: rgb(0, 111, 201);
        outline: none;
        text-decoration: none;
        max-width: 100%;
        text-decoration: none;
        box-shadow: none;
        display: inline-block;
    }

    .icon-wrapper {
        display: flex;
        flex-flow: row;
        width: 32px;
        height: auto;
        box-sizing: border-box;
        float: left;
        margin-left: 5px;
        margin-right: 13px;
    }

    .text-wrapper {
        display: flex;
        flex-flow: column;
        width: auto;
        height: auto;
        box-sizing: border-box;
        max-width: 100%;
        margin-right: 13px;
    }

    .text-primary {
        font-family: "Segoe UI Variable Text", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 12px;
        font-weight: 400;
        color: rgb(50, 49, 48);
        display: block;
        text-overflow: ellipsis;
        font-weight: 600;
        color: rgb(50, 49, 48);
    }

    .text-secondary {
        font-family: "Segoe UI Variable Text", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 12px;
        font-weight: 400;
        color: rgb(50, 49, 48);
        display: block;
        text-overflow: ellipsis;
        color: rgb(96, 94, 92);
        line-height: 16px;
    }
</style>