<div class="message-bar">
    <div class="message-box-message">
        This is message 
    </div>

    <div class="message-bar-close-button"><button type="button" title="Close" aria-label="Close"><span>
        <i data-icon-name="Clear" aria-hidden="true" class="ms-Icon root-89 css-419 ms-Button-icon icon-157" style="font-family: FabricMDL2Icons;"></i>
    </span></button></div>
</div>

<style>
</style>