@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = "profile";

    List<(string Title, string Page)> menuItems =
    [
        ("Overview", "#"),
        ("Your info", "./info/index"),
        ("Accounts", "./accounts/index"),
        ("Services & subscriptions", "#"),
        ("Devices", ""),
        ("Security", ""),
        ("Privacy", ""),
        ("Order history", ""),
        ("Payment options", ""),
        ("Address book", ""),
    ];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>RichillCapital Identity | @ViewData["Title"] (Profile)</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <div class="web-container">
        @RenderBody()
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

