<a class="nav-link" asp-page="./index">Profile</a>
<a class="nav-link" asp-page="./services">Services and Subscriptions</a>
<a class="nav-link" asp-page="./devices">Devices</a>
<a class="nav-link" asp-page="./security">Security</a>
<a class="nav-link" asp-page="./privacy">Privacy</a>
<a class="nav-link" asp-page="./orders">Orders</a>
<a class="nav-link" asp-page="./payments">Payments</a>
