
<div style="display: flex; flex-flow: column; width: auto; height: 48px; box-sizing: border-box; margin: 24px 10px;">
    <div style="text-overflow: ellipsis; display: flex; flex-flow: column; width: auto; height: auto; box-sizing: border-box; margin-right: 8px;">
        <a class="link-image">
            <img class="avatar-image" />
        </a>
    </div>

    <div style="text-overflow: ellipsis; display: flex; flex-flow: column; width: auto; height: auto; box-sizing: border-box; justify-content: center;">
        <a class="link-default" asp-page="/profile/index">
            <span class="name-wrapper">
                <span class="name">@Model.CurrentUser.Name</span>
            </span>
        </a>

        <a class="link-default" asp-page="/profile/index">
            <div role="none" style="display: inline;">
                <span class="email-address-wrapper">
                    <span class="email-address">@Model.CurrentUser.Email</span>
                </span>
            </div>
        </a>
    </div>
</div>

<style>
    .avatar-image {
        display: block;
        opacity: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .link-default {
        text-overflow: ellipsis;
        font-family: "Segoe UI Variable Text", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: inherit;
        font-weight: inherit;
        color: rgb(0, 111, 201);
        outline: none;
        text-decoration: none;
        width: fit-content;
    }

    .link-image {
        text-overflow: ellipsis;
        font-family: "Segoe UI Variable Text", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: inherit;
        font-weight: inherit;
        color: rgb(0, 111, 201);
        outline: none;
        text-decoration: none;
    }

    .name-wrapper {
        color: rgb(50, 49, 48);
        overflow: hidden;
        box-sizing: border-box;
        white-space: normal;
        display: -webkit-box;
        font-size: 14px;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }

    .name {
        font-family: "Segoe UI Variable Text", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        font-weight: 600;
        color: rgb(50, 49, 48);
        display: inline;
        line-height: 1.4;
    }

    .email-address-wrapper {
        color: rgb(96, 94, 92);
        font-size: 12px;
        overflow: hidden;
        box-sizing: content-box;
        white-space: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }

    .email-address {
        font-family: "Segoe UI Variable Small", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 12px;
        font-weight: 400;
        color: rgb(96, 94, 92);
        display: inline;
        line-height: 1.4;
    }
</style>