
@model (string Text, string Page, string Image)

<div style="display: flex;">
    <a class="side-nav-item-link" asp-page="@Model.Page">
        <div class="side-nav-item-icon-container">
        </div>

        <div class="side-nav-item-text-container">
            <span class="side-nav-item-text-wrapper">
                <span class="side-nav-item--text">
                    @Model.Text
                </span>
            </span>
        </div>
    </a>
</div>

<style>
    .side-nav-item-link {
        font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        font-weight: 400;
        outline: transparent;
        position: relative;
        min-height: 40px;
        color: rgb(50, 49, 48);
        text-decoration: none;
        display: flex;
        flex-flow: row;
        align-items: center;
        cursor: pointer;
        width: 220px;
        background: rgb(242, 242, 242);
        border: none;
        padding: 0px;
        text-align: inherit;
        margin-bottom: 6px;
        margin-right: 8px;
        border-radius: 4px;        
    }

    .side-nav-item-text-container {
        flex: 1 1 auto;
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
        color: rgb(50, 49, 48);
        pointer-events: none;
    }

    .side-nav-item-text-wrapper {
        overflow: hidden;
        box-sizing: content-box;
        white-space: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        font-size: 14px;        
    }
    .side-nav-item--text {
        font-family: "Segoe UI Variable Text", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        font-weight: 400;
        color: rgb(50, 49, 48);
        display: inline;
        line-height: 1.4;        
    }
</style>
