@{
    List<(string Text, string Page)> sideNavItems = [
        ("Overview", "/profile/index"),
        ("Your info", "/profile/index"),
        ("Services & subscriptions", "/profile/index"),
        ("Devices", "/profile/index"),
        ("Security", "/profile/index"),
        ("Privacy", "/profile/index"),
        ("Order history", "/profile/index"),
        ("Payment options", "/profile/index"),
        ("Address book", "/profile/index"),
    ]; 
}

<div id="SideNav">
    <div class="css-162">
        <div></div>
        <div style="position: fixed; height: calc(100% - 48px); z-index: 5;">
            <div class="root-302" role="presentation">
                <nav role="navigation" class="nav-wrapper">
                    <div class="nav-container">
                        <div role="presentation">
                            <ul role="menubar" class="nav-group">
                                <div role="group">
                                    <li role="presentation"></li>
                                    @foreach (var item in sideNavItems)
                                    {
                                        <li class="nav-item" role="presentation">
                                            <div class="tooltip" role="none">
                                                <a asp-page="@item.Page" class="nav-item-link" role="menuitem">
                                                    <div class="nav-item-icon-wrapper">
                                                        <i class="nav-item-icon"></i>
                                                    </div>
                                                    <div class="nav-item-text-wrapper">
                                                        <span class="nav-item-text-container">
                                                            <span class="nav-item-text">@item.Text</span>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                    }
                                </div>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<style>
    #SideNav {
        color: rgb(50, 49, 48);
        background: rgb(242, 242, 242);
        font-family: "Segoe UI Variable Text", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        font-weight: 400;
        font-size: 14px;
        -webkit-font-smoothing: antialiased;
        text-overflow: ellipsis;        
    }

    .css-162 {
        display: flex;
        flex-flow: column;
        width: auto;
        height: auto;
        box-sizing: border-box;
    }

    .root-302 {
        position: relative;
        z-index: 1;
        flex: 0 0 auto;
        height: 100%;
    }     

    .nav-wrapper {
        overflow: hidden;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-top: 24px;
    }

    .nav-container {
        width: calc(280px + var(--scrollbar-width));
        background-color: rgb(242, 242, 242);
        color: rgb(50, 49, 48);
        transition-property: width;
        transition-duration: 0s;
        font-size: 14px;
        overflow: hidden scroll;
        margin-inline-end: calc(var(--scrollbar-width)* -1);
        height: 100%;
        max-height: 100%;
        max-width: 250px;
        user-select: none;
        }
    }

    .nav-group {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

    .nav-item {
        margin: 0px;
        padding: 0px;
    }

    .tooltip {
        display: flex;
    }

    .nav-item-link {
        font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        font-weight: 400;
        outline: transparent;
        position: relative;
        min-height: 40px;
        color: rgb(50, 49, 48);
        text-decoration: none;
        display: flex;
        flex-flow: row;
        align-items: center;
        cursor: pointer;
        width: 220px;
        background: rgb(255, 255, 255);
        border: none;
        padding: 0px;
        text-align: inherit;
        margin-bottom: 6px;
        margin-right: 8px;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.133) 0px 1.6px 3.6px 0px, rgba(0, 0, 0, 0.11) 0px 0.3px 0.9px 0px;
    }

    .nav-item-icon-wrapper {
        display: flex;
        flex: 0 0 48px;
        align-items: center;
        justify-content: center;
    }

    .nav-item-icon {
        display: flex;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-weight: normal;
        speak: none;
        font-family: "AMC Icons";
        font-size: 16px;
        color: rgb(0, 100, 181);
    }

    .nav-item-text-wrapper {
        flex: 1 1 auto;
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
        color: rgb(50, 49, 48);
        pointer-events: none;
    }

    .nav-item-text-container {
        overflow: hidden;
        box-sizing: content-box;
        white-space: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        font-size: 14px;
    }

    .nav-item-text {
        font-family: "Segoe UI Variable Text", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        font-weight: 600;
        color: rgb(50, 49, 48);
        display: inline;
        line-height: 1.4;
    }    
</style>