@page "/profile"
@model ProfileViewModel


<div>Your info</div>

<!-- Change password button -->
<a asp-page="./changePassword" style="text-decoration: none; box-shadow: none; display: inline-block;">
    <div>
        <span role="presentation" class="FullCircleMask" style="font-family: &quot;AMC Icons&quot;; font-size: 32px;"></span>
        <span role="presentation" class="Permissions" style="font-family: &quot;AMC Icons&quot;; font-size: 16px;"></span>
    </div>
    <div>
        <span>Change password</span>
        <span>Security</span>
    </div>
</a>

<style>
</style>