@page "/profile"
@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = "profile";
}

<h3>@ViewData["Title"]</h3>

<fluent-card>
    <table class="table">
        <tbody>
            <tr>
                <th>E-Mail</th>
                <td>@Model.Email</td>
                <td>The email address you use to sign in to Richill Capital</td>
            </tr>
        </tbody>
    </table>
</fluent-card>
