@page "/identity/profile"
@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = "profile";
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<fluent-card>
    <table class="table">
        <tbody>
            <tr>
                <th>E-Mail</th>
                <td>mengsyue.tsai@outlook.com</td>
                <td>The email address you use to sign in to Richill Capital</td>
            </tr>
        </tbody>
    </table>
</fluent-card>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
