@page "/profile/securty"
@model SecurityViewModel
@{
    ViewData["Title"] = "Security";
}

<div>
    <h2>Security</h2>

    <a>Change Password</a>
    <p>Last updated: 2021-07-13</p>

    <a>Two-Factor Authentication</a>
    <p>Enabled</p>
</div>
