@page "/enter-password"

@model EnterPasswordViewModel 

@{
    var formTitle = "Enter password";
    
    ViewData["Title"] = "Sign in";
}

<div>
    @await Html.PartialAsync("_FormImage")
    @await Html.PartialAsync("_IdentityBanner", Model.EmailAddress)

    <div class="page-content">
        <form id="post-redirect-form"></form>
        <div class="form-wrapper-animation">
            <form method="post" spellcheck="false" autocomplete="off">
                @await Html.PartialAsync("_FormTitle", formTitle)

                <div class="form-row">
                    <div role="alert">
                        <div class="password-error" asp-validation-summary="All"></div>
                    </div>
                    
                    <div>
                        <div class="password-input-wrapper">
                            <input class="password-input" type="password" placeholder="Password" asp-for="Password" maxlength="120" autocomplete="current-password"/>
                        </div>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-links">
                        <div class="link-wrapper"><span class="" tabindex="0" role="button">Forgot password?</span></div>
                        <div class="link-wrapper"><span class="" tabindex="0" role="button">Other ways to sign in</span></div>
                        <div class="link-wrapper"><span class="" tabindex="0" role="button">Sign in with a different Microsoft account</span></div>
                    </div>
                </div>

                <div class="button-container-row">
                    <div class="button-container">
                        <div class="button-primary-wrapper">
                            <button class="button-primary" type="submit">Sign in</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScripts" />
}

<style>
    .form-wrapper-animation {
        position: relative;
        animation-duration: 0.25s;
        animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
        animation-fill-mode: both;
        transition-property: left;
        min-height: inherit;
        animation-name: myAnimation;
    }

    .form-row {
        min-height: 1px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .password-error {
        position: relative;
        min-height: 1px;
        padding-left: 2px;
        padding-right: 2px;
        color: #E81123;
    }

    .password-input-wrapper {
        background-image: none;
        width: 100%;
        position: relative;
        margin-bottom: 16px;
        display: block;
    }

    .password-input {
        font-weight: inherit;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        max-width: 100%;
        margin: 0px;
        height: 36px;
        width: 100%;
        outline-style: none;
        background-color: transparent;
        border-top-style: solid;
        border-right-style: solid;
        border-left-style: solid;
        border-bottom-style: solid;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        border-top-width: 0px;
        border-right-width: 0px;
        border-left-width: 0px;
        border-bottom-width: 1px;
        padding-top: 6px;
        padding-right: 10px;
        padding-bottom: 6px;
        padding-left: 0px;
        border-color: rgb(102, 102, 102);
    }

    .form-links {
        min-height: 1px;
        position: relative;
        font-size: 0.8125rem;
        padding-left: 2px;
        padding-right: 2px;
    }

    .link-wrapper {
        margin-bottom: 16px;
    }

    .form-link {
        text-decoration: none;
        background-color: transparent;
        padding-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        color: rgb(0, 103, 184);
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
        border-bottom-style: none;
    }
</style>