@using Duende.IdentityServer.Models
@model Client
@{
}

<table class="table">
    <tbody>
        <tr>
            <th>Require Consent</th>
            <td>@Model.RequireConsent</td>
        </tr>

        <tr>
            <th>Allow Remember Consent</th>
            <td>@Model.AllowRememberConsent</td>
        </tr>

        <tr>
            <th>Client Uri</th>
            <td>@Model.ClientUri</td>
        </tr>

        <tr>
            <th>Logo Uri</th>
            <td>@Model.LogoUri</td>
        </tr>
    </tbody>
</table>