@using Duende.IdentityServer.Models
@model Client
@{
}

<table class="table">
    <tbody>
        <tr>
            <th>User Code Type</th>
            <td>@Model.UserCodeType</td>
        </tr>
        <tr>
            <th>Device Code Lifetime</th>
            <td>@Model.DeviceCodeLifetime</td>
        </tr>
    </tbody>
</table>