@using Duende.IdentityServer.Models

@model Client

@{
}

<fluent-card>
    <h2>
        @Model.ClientName <small>(@Model.ClientId)</small>
    </h2>
    <p>@(string.IsNullOrEmpty(Model.Description) ? "No description for this client." : Model.Description)</p>
</fluent-card>