@page "/clients/{clientId}"
@model ClientDetailsViewModel 
@{
    ViewData["Title"] = "Client Details";
}

@await Html.PartialAsync("_Header", Model.Client)


<fluent-card>
    <h3>Settings</h3>

    <fluent-tabs activeid="tab-basics">
        <fluent-tab id="tab-basics">Basics</fluent-tab>
        <fluent-tab id="tab-authentication">Authentication</fluent-tab>
        <fluent-tab id="tab-token">Token</fluent-tab>
        <fluent-tab id="tab-consent">Consent</fluent-tab>
        <fluent-tab id="tab-device-flow">Device Flow</fluent-tab>

        <fluent-tab-panel id="tab-panel-basics">
            @await Html.PartialAsync("_BasicsTabContent", Model.Client)
        </fluent-tab-panel>

        <fluent-tab-panel id="tab-panel-authentication">
            @await Html.PartialAsync("_AuthenticationTabContent", Model.Client)
        </fluent-tab-panel>

        <fluent-tab-panel id="tab-panel-token">
            @await Html.PartialAsync("_TokenTabContent", Model.Client)
            </fluent-tab-panel>

        <fluent-tab-panel id="tab-panel-consent">
            @await Html.PartialAsync("_ConsentTabContent", Model.Client)
        </fluent-tab-panel>

        <fluent-tab-panel id="tab-panel-device-flow">
            @await Html.PartialAsync("_DeviceFlowTabContent", Model.Client)
        </fluent-tab-panel>
    </fluent-tabs>
</fluent-card>
