@page

@model ClientsViewModel 

@{
}

<fluent-breadcrumb class="breadcrumb">
  <fluent-breadcrumb-item href="/">Home</fluent-breadcrumb-item>
  <fluent-breadcrumb-item>Users</fluent-breadcrumb-item>
</fluent-breadcrumb>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Clients)
        {
            <tr>
                <td>@user.ClientId</td>
                <td>@user.ClientName</td>
                <td>@user.Description</td>
                <td>
                    <a asp-page="./Details" asp-route-clientId="@user.ClientId">
                        <fluent-button appearance="accent">Details</fluent-button>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>