@page "/clients"
@model ListClientsViewModel
@{
    ViewData["Title"] = "Clients";
}

<h1>Clients</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var client in Model.Clients)
        {
            <tr>
                <td>@client.ClientId</td>
                <td>@client.ClientName</td>
                <td>
                    <a class="btn btn-primary" 
                        asp-page="./details" 
                        asp-route-clientId="@client.ClientId">
                        Details
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
