@page "api-resources/{resourceId}"
@model ApiResourceDetailsViewModel
@{
    ViewData["Title"] = "Api Resource Details";
}

<h1>
    Api Resource Details
</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <td>@Model.ApiResource.Name</td>
        </tr>

        <tr>
            <th>Display Name</th>
            <td>@Model.ApiResource.DisplayName</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>@Model.ApiResource.Description</td>
        </tr>
        
        <tr>
            <th>Enabled</th>
            <td>@Model.ApiResource.Enabled</td>
        </tr>
        
        <tr>
            <th>Scopes</th>
            <td></td>
        </tr>
        
        <tr>
            <th>Secrets</th>
            <td></td>
        </tr>
        
        <tr>
            <th>Properties</th>
            <td></td>
        </tr>
        
        <tr>
            <th>User Claims</th>
            <td></td>
        </tr>
    </tbody>
</table>