@page "/sign-in/consent"

@model SignInConsentViewModel

@{
    ViewData["Title"] = "Consent";
}



<div>
    <input type="text" asp-for="Description"/>
    
    <input type="checkbox" asp-for="RememberMyDecision" />
    <label asp-for="RememberMyDecision"></label>

    <button type="button" name="Consent" value="true">Yes</button>
    <button type="button" name="Consent" value="false">No</button>
</div>

<section id="DebugSection">
    <div>ClientName: @Model.ClientName</div>
    <div>ClientUrl: @Model.ClientUrl</div>
    <div>ClientLogUrl: @Model.ClientLogoUri</div>
    <div>AllowRememberConsent: @Model.AllowRememberConsent</div>
</section>    

<script>
</script>

<style>
</style>