@page "/sign-in-options"

@model SignInOptionsViewModel 

@{
    Layout = "_Layout";
    ViewData["Title"] = "Choose a way to sign in";
}

<div>
    <div>PIN or security key</div>

    <div>Use my password</div>

    <div>External</div>
</div>

<style>
</style>