@page
@using System.Reflection
@model AboutViewModel

@{
    ViewData["Title"] = "About";
}

<h3>Assembly Version</h3>
<h6>@ApplicationInfo.GetAssemblyVersion()</h6>

<h3>DotNet Runtime Version</h3>
<h6>@ApplicationInfo.GetDotNetRuntimeVersion()</h6>

<h3>Install Location</h3>
<h6>@ApplicationInfo.GetInstallLocation()</h6>
