@page
@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<div class="alert alert-danger">
    Sorry, there was an error

    @if (Model.ErrorMessage != null)
    {
        <strong>
            <em>
                : @Model.ErrorMessage.Error
            </em>
        </strong>

        if (Model.ErrorMessage.ErrorDescription is not null)
        {
            <div>@Model.ErrorMessage.ErrorDescription</div>
        }
    }
</div>
@if (Model.TraceId is not null)
{
    <p>
        <strong>Trace ID:</strong> <code>@Model.TraceId</code>
    </p>
}

