@page
@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<fluent-card>
        
    <div class="alert alert-danger">
        Sorry, there was an error 

        @if (Model.IdentityErrorMessage != null)
        {
            <strong>
                <em>
                    : @Model.IdentityErrorMessage.Error
                </em>
            </strong>

            if (Model.IdentityErrorMessage.ErrorDescription is not null)
            {
                <div>@Model.IdentityErrorMessage.ErrorDescription</div>
            }
        }
    </div>

    @if (Model.TraceId is not null)
    {
        <p>
            <strong>Trace ID:</strong> <code>@Model.TraceId</code>
        </p>
    }


</fluent-card>