@page "/"

@model IndexViewModel

@{
    ViewData["Title"] = "Home";
}

<div>
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-left">
                <div class="css-177">
                    <div>
                        <div>
                            <div style="position: relative">
                                <div>
                                    <div role="navigation" class="root-178">
                                        <div>
                                            <ol class="list-179">
                                                <li class="list-item-180">
                                                    <div class="css-284">
                                                        <span class="page-header-title-wrapper">
                                                            <h1 class="page-header-title">Your info</h1>
                                                        </span>
                                                    </div>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-header-right">
                <div class="css-176">
                    <div class="root-251">
                        <div class="data-wrapper">
                            <div class="css-254">
                                <div class="css-397">
                                    @await Html.PartialAsync("_ChangePasswordButton")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-middle">
        @await Html.PartialAsync("_MessageBar")
    </div>

    <div class="page-content">
        <div class="sections-container">
            @await Html.PartialAsync("_PersonalInfoSection")
            @await Html.PartialAsync("_UserInfoSection", Model.CurrentUser.Email)
        </div>
    </div>
</div>

<style>
    .page-header {
        flex-wrap: wrap;
        width: 100%;
        overflow: visible;
        height: auto;
        display: flex;
        padding: 24px 0px 0px;
    }

    .page-header-inner {
        display: flex;
        flex-flow: wrap;
        margin: 0px;
        overflow: visible;
        box-sizing: border-box;
        width: 100%;
        max-width: 100vw;
        height: 100%;
    }

    .page-header-left {
        font-family: "Segoe UI Variable Text", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        font-weight: 400;
        flex-basis: auto;
        height: auto;
        width: 50%;
        flex-shrink: 0;
    }

    .page-header-title {
        font-size: 18px;
        overflow: hidden;
        box-sizing: content-box;
        white-space: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        line-height: 1.4;
    }

    .page-header-title {
        font-family: "Segoe UI Variable Text", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 24px;
        font-weight: 600;
        color: rgb(50, 49, 48);
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.4;
    }
    .css-177 {
        display: flex;
        flex-flow: column;
        width: auto;
        height: auto;
        box-sizing: border-box;
        padding-top: 18px;
        padding-bottom: 24px;
    }

    .root-178 {
        font-family: "Segoe UI Variable Text", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        font-weight: 400;
        margin: 11px 0px 1px;
    }

    .list-179 {
        white-space: nowrap;
        padding: 0px;
        margin: 0px;
        display: flex;
        align-items: center;
    }

    .list-179 li:first-child > :first-child {
        padding-left: 0px;
    }
    .list-item-180 {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        display: flex;
        position: relative;
        align-items: center;
        height: 100%;
    }

    .css-284 {
        display: flex;
        flex-flow: row;
        width: 387.4px;
        height: auto;
        box-sizing: border-box;
        margin-right: 4px;
        margin-left: 0px;
        align-items: center;
    }
    .page-header-right {
        flex-wrap: wrap;
        width: 50%;
        overflow: visible;
        height: auto;
        justify-content: flex-end;
        display: flex;
    }

    .css-176 {
        font-family: "Segoe UI Variable Text", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        font-weight: 400;
        flex-basis: auto;
        height: auto;
        width: 50%;
        flex-shrink: 0;
    }
    .css-254 {
        display: flex;
        flex-flow: row;
        width: auto;
        height: auto;
        box-sizing: border-box;
    }

    .css-397 {
        font-family: "Segoe UI Variable Text", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        font-weight: 400;
        flex-basis: auto;
        height: auto;
        width: auto;
        flex-shrink: 1;
    }
    .page-middle {
        display: flex;
        flex-flow: column;
        width: auto;
        height: auto;
        box-sizing: border-box;
        padding: 24px 0px;
    }

    .page-content {
        display: flex;
        flex-flow: column;
        width: auto;
        height: auto;
        box-sizing: border-box;
    }

    .sections-container {
        display: flex;
        flex-flow: column;
        width: auto;
        height: auto;
        box-sizing: border-box;
    }
</style>