@page "/redirect"

@model RedirectViewModel

@{
    Layout = null;
    ViewData["Title"] = "Redirect";
}

<div>
    Redirecting ...
</div>

<meta http-equiv="refresh" content="0;url=@Model.RedirectUri" data-url="@Model.RedirectUri">

<script src="~/js/signin-redirect.js"></script>