<div class="footer">
    <div class="footer-links">
        <a class="footer-link" href="#">Terms of use</a>
        <a class="footer-link" href="#">Privacy & cookies</a>
    </div>
</div>

<style>
    .footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        overflow: visible;
        z-index: 99;
        clear: both;
        min-height: 28px;
    }

    .footer-links {
        color: rgba(0, 0, 0, 0.7);
        font-size: 13px;
        margin: 0;
        float: right;
    }

    .footer-link {
        box-sizing: border-box;
        background-color: transparent;
        text-decoration: none;
        color: #000;
        font-size: 12px;
        line-height: 28px;
        white-space: nowrap;
        display: inline-block;
        margin-left: 8px;
        margin-right: 8px;
    }
</style>