@page "/sign-in"
@model SignInViewModel

@{
    ViewData["Title"] = "Sign in";
    Layout = "_AnonymousLayout";
}

<form method="post">
    <div>Sign in</div>

    <span asp-validation-for="EmailAddress"></span>
    <input asp-for="EmailAddress" type="email" autocomplete="username" spellcheck="false" placeholder="Email address">

    <div>No account? <a asp-page="/signUp/index" asp-route-returnUrl="@Model.ReturnUrl">Create one!</a></div>
    <a>Can't access your account?</a>

    <div>
        <button type="button">Back</button>
        <button type="submit">Next</button>
    </div>
</form>

<div>Sign-in options</div>

<style>
</style>

@section Scripts {
    <partial name="_ClientValidation" />
}