@page "/sign-in"
@model SignInViewModel

@{
    ViewData["Title"] = "Sign in";
    Layout = "_AnonymousLayout";
}

<form method="post">
    <div>Sign in</div>

    <span asp-validation-for="EmailAddress"></span>
    <input asp-for="EmailAddress" type="email" autocomplete="username" spellcheck="false" placeholder="Email address">

    <div>No account? <a asp-page="/signUp/index" asp-route-returnUrl="@Model.ReturnUrl">Create one!</a></div>
    <a>Can't access your account?</a>

    <div>
        <button type="button">Back</button>
        <button type="submit">Next</button>
    </div>
</form>

<div>Sign-in options</div>

<style>
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Segoe UI Webfont", -apple-system, "Helvetica Neue", "Lucida Grande", "Roboto", "Ebrima", "Nirmala UI", "Gadugi", "Segoe Xbox Symbol", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee", "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    font-size: .9375rem;
    line-height: 1.25rem;
    padding-bottom: .227px;
    padding-top: .227px;
    color: #000;
    background-color: #fff;
    direction: ltr;
    display: block;
}

body.cb {
    color: #1b1b1b;
    text-align: left;
}

img {
    border: 0;
    vertical-align: middle;
}

.logo {
    max-width: 256px;
    height: 24px;
}
</style>

@section Scripts {
    <partial name="_ClientValidation" />
}