@page "/sign-in"
@model SignInViewModel

@{
    ViewData["Title"] = "Sign in";
}

<div>
    <form method="post">
        <button type="submit">Next</button>
        <button type="button">Back</button>
    </form>
</div>