@page "/sign-in/stay-signed-in"
@model SignInStaySignedInViewModel
@{
}

<form method="post">
    <div>Stay signed in?</div>
    <div>Stay signed in so you don't have to sign in again next time.</div>
    
    <label asp-for="DoNotShowThisAgain"></label>
    <input asp-for="DoNotShowThisAgain" type="checkbox">

    <button type="submit" name="StaySignedIn" value="false">No</button>
    <button type="submit" name="StaySignedIn" value="true">Yes</button>
</form>