@{
    List<(string DisplayName, string Page)> footerLinks =
    [
        ("Terms of use", "#"),
        ("Privacy and Cookie", "#"),
    ];
}

<div id="" class="footer-container" role="contentinfo">
    <div>
        <div id="footer-links" class="">
            @foreach (var link in footerLinks)
            {
                <a href="@link.Page">
                    @link.DisplayName
                </a>
            }
        </div>
    </div>
</div>

<style>
</style>