@page "/identity/forgot-password"

@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
}

<div id="content">
    <div>
        <img src="#">
        <form method="post" novalidate>
            <div>Recover your account</div>

            <div>
                We can help you reset your password and security info. First, enter your Microsoft account and follow the instructions below.
            </div>

            <div>
                <input type="email" placeholder="example@domain.com">
            </div>

            <div>
                <button type="button">Cancel</button>
                <button type="button">Next</button>
            </div>
        </form>
    </div>
</div>



