@page "/identity/sign-up"
@model SignUpViewModel
@{
    ViewData["Title"] = "Sign Up";
}

<div id="root" data-testid="app-boundary">
    <div dir data-testid="direction-wrapper lightbox-layout" style="min-height: 1px;">
        <div data-testid="gamepad-navigation-warpper" 
            style="position: absolute; height: 100%; width: 100%; top: 0px; right: 0px; left: 0px; bottom: 0px; overflow-x: auto; overflow-y: auto;">
            <div id="background-container" data-testid="background-container">
                <div id="background-image" data-testid="background-image"></div>
            </div>
            <div id="outer" data-testid="outer" data-scrollable="true">
                <div id="middle">
                    <div id="inner">
                        <div id="lightbox-cover"></div>
                        <div>
                            <img data-testid="accessible-image" src="https://logincdn.msftauth.net/shared/5/images/microsoft_logo_ee5c8d9fb6248c938fd0.svg" alt="RichillCapital" style="max-width: 256px; height: 24px;"/>
                            <div id="page-content" data-testid="pagination-view" style="position: relative; min-height: 206px;">
                                <form data-testid="post-redirect-form" aria-hidden="true" target="_top"></form>
                                <div data-testid="route-animation">
                                    <form novalidate spellcheck="false" method="post" autocomplete="false" target="_top">
                                        <div 
                                            style="margin-top: 16px; margin-bottom: 12px; font-weight: 600; line-height: 28px; color: rgb(27, 27, 27); font-size: 1.5rem; padding-top: 0px; padding-bottom: 0px; padding-right: 0px; padding-left: 0px;">
                                            <div><div id="username-collection-view-title" role="heading" aria-level="1">Sign Up</div></div>
                                        </div>
                                        
                                        <div style="min-height: 1px; margin-left: 0px; margin-right: 0px;">
                                            <div style="overflow-wrap: break-word; white-space: pre-wrap;">
                                                <div data-testid="input-component-wrapper" style="min-height: 1px; margin-left: 0px; margin-right: 0px;">
                                                    <div style="display: flex; flex-direction: row;" dir>
                                                        <div style="width: 100%; position: relative; margin-bottom: 16px; display: block; background-image: none;">
                                                            <input 
                                                                id="username-input" 
                                                                name="·sąq¤l¶lĄó¦a§}" 
                                                                placeholder="someone@example.com" 
                                                                type="text" 
                                                                maxlength="120" 
                                                                aria-label="relative" 
                                                                aria-describedby="username-collection-view-title username-input-error" 
                                                                class value/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div data-testid="input-container">
                                            <div>
                                                <div style="min-height: 1px; margin-left: 0px; margin-right: 0px;">
                                                    <div data-testid="text-button-container" style="position: absolute; width: 100%; bottom: 0px; text-align: right;">
                                                        <div style="display: inline-block">
                                                            <button id="next-button" type="submit" 
                                                                aria-describedby="username-collection-view-title username-collection-view-description">Next</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <iframe 
                                    title="DeviceFingerPrinting" data-testid="device-finger-printing" 
                                    src="https://fpt.live.com/?session_id=a67e038ccf724affac76e98dbea93883&amp;CustomerId=33e01921-4d64-4f8c-a055-5bdaffd5e33d&amp;PageId=SU"
                                    style="position: absolute; visibility: hidden; border-top-width: 0px; border-right-width: 0px; border-left-width: 0px; border-bottom-width: 0px; float: left; color: rgb(0, 0, 0); width: 1px; height: 1px; left: -10000px; top: -10000px;"></iframe>
                                <iframe data-testid="human-iframe" title="Human Iframe" src="https://msft.hsprotect.net/index.html" sandbox="allow-scripts allow-same-origin" aria-hidden="true" style="display: none;"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="footer" data-testid="footer" role="contentinfo">
                    <div id="footer-links">
                        <a id="ftr-terms" href="https://www.microsoft.com/en-us/servicesagreement/default.aspx" target="_blank" rel="noreferrer noopener">
                            Services Agreement
                        </a>
                        <a id="ftr-privacy" href="https://go.microsoft.com/fwlink/?LinkID=521839" target="_blank" rel="noreferrer noopener">
                            Privacy &amp; cookies
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #root {
        min-height: 1px;
    }

    #background-container {
        background-color: rgb(242, 242, 242);
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        z-index: -1;
        position: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
    }

    #background-image {
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        z-index: -1;
        position: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
        background-image: url(https://logincdn.msftauth.net/shared/5/images/2_bc3d32a696895f78c19d.svg);
    }

    #outer {
        display: table;
        bottom: 0px;
        left: 0px;
        right: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    #middle {
        display: table-cell;
        vertical-align: middle;
    }

    #inner {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        max-width: 440px;
        width: calc(100% - 40px);
        padding-top: 44px;
        padding-right: 44px;
        padding-left: 44px;
        padding-bottom: 44px;
        margin-bottom: 28px;
        background-color: rgb(255, 255, 255);
        rgba(0, 0, 0, 0.2) 0px 2px 6px;
        min-width: 320px;
        min-height: 338px;
        overflow-x: hidden;
        overflow-y: hidden;
        z-index: 1;
        animation-name: f11ta6k4;
        transition-timing-function: ease-in;
        animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
        animation-duration: 0.3s;
    }

    #lightbox-cover {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        background-color: white;
        opacity: 0;
        z-index: -1;
        transition: all 0.5s ease-in 0s;
    }

    #route-animation {
        position: relative;
        animation-duration: 0.25s;
        animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
        animation-fill-mode: both;
        transition-property: left;
        animation-name: fr2e2iv;
        min-height: inherit;
    }

    #username-input {
        height: 36px;
        width: 100%;
        outline-style: none;
        background-color: transparent;
        border-top-style: solid;
        border-right-style: solid;
        border-left-style: solid;
        border-bottom-style: solid;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        border-top-width: 0px;
        border-right-width: 0px;
        border-left-width: 0px;
        border-bottom-width: 1px;
        border-top-color: rgb(102, 102, 102);
        border-right-color: rgb(102, 102, 102);
        border-left-color: rgb(102, 102, 102);
        border-bottom-color: rgb(102, 102, 102);
        padding-top: 6px;
        padding-right: 10px;
        padding-bottom: 6px;
        padding-left: 0px;
    }

    #next-button {
        vertical-align: middle;
        position: relative;
        overflow-x: hidden;
        overflow-y: hidden;
        text-align: center;
        display: inline-block;
        max-width: 100%;
        white-space: nowrap;
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
        border-bottom-style: none;
        min-height: 32px;
        min-width: 108px;
        line-height: normal;
        padding-top: 4px;
        padding-right: 12px;
        padding-left: 12px;
        padding-bottom: 4px;
        text-overflow: ellipsis;
        touch-action: manipulation;
        background-color: rgb(0, 103, 184);
        border-top-color: rgb(0, 103, 184);
        border-right-color: rgb(0, 103, 184);
        border-left-color: rgb(0, 103, 184);
        border-bottom-color: rgb(0, 103, 184);
        color: rgb(255, 255, 255);
    }

    #footer {
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: 0px;
        overflow-x: visible;
        overflow-y: visible;
        z-index: auto;
        clear: both;
        min-height: 28px;
    }

    #footer-links {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 13px;
        float: right;
    }

    #ftr-terms {
        display: inline-block;
        color: rgb(0, 0, 0);
        font-size: 12px;
        line-height: 28px;
        white-space: nowrap;
        margin-left: 8px;
        margin-right: 8px;
        text-decoration: none;
    }

    #ftr-privacy {
        display: inline-block;
        color: rgb(0, 0, 0);
        font-size: 12px;
        line-height: 28px;
        white-space: nowrap;
        margin-left: 8px;
        margin-right: 8px;
        text-decoration: none;
    }
</style>