@page "/sign-up/name"
@model SignUpNameViewModel
@{
    ViewData["Title"] = "What's your name?";
}

<form method="post">
    <span asp-validation-for="Name"></span>
    <input asp-for="Name" type="text">
    <button type="submit">Next</button>
</form>


@section Scripts {
    <partial name="_ClientValidation" />
}