@page "/profile/info"

@model ProfileInfoViewModel

@{
    ViewData["Title"] = "Profile Info";
}

<section aria-label="Your info">
    <div>
        <div>
            <img src=""/>
        </div>

        <div>
            <div><span>Personalize your account with a photo. Your profile photo will appear on apps and devices that use your Microsoft account.</span></div>
            <div><button><span>Change photo</span></button></div>
        </div>
    </div>
 
    <div>
        <div>
            <span>Full name</span>
        </div>
        <div>
            <span>@Model.Name</span>
        </div>
        <div>
            <a href="#">Edit name</a>
        </div>
    </div>
</section>

<section aria-label="Profile info"></section>

<section aria-label="Account info">
    <div>
        <span>Account info</span>
        <a>Edit account info</a>
    </div>

    <div>
        <div>
            <div>
                <span>Email address</span>
            </div>
            <div>
                <span>@Model.EmailAddress</span>
            </div>
            <div>
                <span>The email address you use to sign in to your Microsoft account</span>
            </div>
            <div>
                <a href="#">Communication preferences</a>
            </div>
        </div>

        <div>
            <div>
                <span>Phone number</span>
            </div>
            <div>
                <span>Current user phone number</span>
            </div>
            <div>
                <span>Your phone number is used to sign in to your Microsoft account</span>
            </div>
        </div>
    </div>

    <div>
        <div>
            <a href="#">Sign-in preferences</a>
        </div>
        <div>
            <a href="#">Link your phone to your PC</a>
        </div>
        <div>
            <a href="#">Close account</a>
        </div>
    </div>
</section>


<section aria-label="Language info"></section>
<section aria-label="Your profiles"></section>