@page "/sign-up/info"

@model SignUpInfoViewModel

@{
    ViewData["Title"] = "Sign up";
}

<div>
    <form method="post">

    </form>
</div>

@section Scripts {
    <partial name="_ClientValidation" />
}