@page "/sign-up/create-password"
@model SignUpCreatePasswordViewModel

@{
    ViewData["Title"] = "Create a password";
    ViewData["IdentityBannerVisible"] = true;
    Layout = "_AnonymousLayout";
}

<form method="post" target="_top">
    <div class="form-header">
        <div>
            <div role="heading">@ViewData["Title"]</div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ClientValidation" />
}

<style>
</style>