@page "/profile/order-history"

@model OrderHistoryViewModel

@{
    ViewData["Title"] = "OrderHistory";
}

<div>
    <div>Order history</div>

    <div>
        <div><span>View</span></div>
        <div></div>
        <div><span>Ordered within</span></div>
        <div></div>
    </div>

    <div>
        <div><span>No purchases made in the past 3 months</span></div>
        <div><span>Stuff you buy, or subscriptions you pay for, will show up here. Can’t find your order?</span></div>
        <div><button>Start shopping</button></div>
    </div>
</div>