@page "/sign-up/birthday"

@model SignUpBirthdayViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "";
}

<div>
    Birthday

    <form method="post">
        <button type="submit">Next</button>
    </form>
</div>