@page "/sign-up";

@model SignUpViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Sign up";
}

<div>
    <form method="post">
        <button type="submit">Next</button>
    </form>
</div>

<style>
</style>