@page "/sign-up";

@model SignUpViewModel

@{
    Layout = "_DefaultLayout";
    ViewData["Title"] = "Sign up";
}


<div id="Root">
    <div id="AppBoundary">
        <div class="direction-wrapper lightbox-layout" style="min-height: 1px;">
            <div class="navigation-wrapper">
                <div id="BackgroundContainer" class="background-image">
                    <div id="BackgroundImage" class="background-image" style="background-image: url(https://logincdn.msftauth.net/shared/5/js/../images/2_bc3d32a696895f78c19d.svg);"></div>
                </div>

                <div id="Outer" class="outer">
                    <div id="Middle" class="middle" role="main" style="display: table-cell; vertical-align: middle;">
                        <div>
                            <div>
                                <div>
                                    <div id="Inner" class="inner">
                                        <div id="LightboxCover" style="position: absolute; height: 100%; width: 100%; top: 0px; left: 0px; background-color: white; opacity: 0; z-index: -1; transition: all 0.5s ease-in 0s;"></div>

                                        <div>
                                            <img src="https://logincdn.msftauth.net/shared/5/js/../images/microsoft_logo_ee5c8d9fb6248c938fd0.svg" alt="Microsoft" role="" 
                                                style="height: 24px; max-width: 256px;">

                                            <div id="PageContent" style="position: relative; min-height: 206px;">
                                                <form method="post" target="_top"></form>

                                                <div class="route-animation">
                                                    <form method="post" novalidate spellcheck="false" autocomplete="off" target="_top">
                                                        <div class="form-title-wrapper">
                                                            <div><div role="heading" class="form-title">@ViewData["Title"]</div></div>
                                                        </div>

                                                        <div style="min-height: 1px; margin-left: 0px; margin-right: 0px;">
                                                            <div style="overflow-wrap: break-word; white-space: pre-wrap;">
                                                                <div style="min-height: 1px; margin-left: 0px; margin-right: 0px;">
                                                                    <div role="alert">
                                                                        <div class="email-error" asp-validation-summary="All"></div>
                                                                    </div>

                                                                    <div style="display: flex; flex-direction: row;">
                                                                        <div style="width: 100%; position: relative; margin-bottom: 16px; display: block; background-image: none;">
                                                                            <input id="EmailInput" class="email-input" type="text" asp-for="EmailAddress" placeholder="someone@example.com" maxlength="120"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div id="InputContainer">
                                                            <div style="display: inline-block; width: 100%; margin-bottom: 36px;">
                                                                <div style="min-height: 1px; margin-left: 0px; margin-right: 0px;">
                                                                    <div class="button-row">
                                                                        <div style="display: inline-block;">
                                                                            <button id="NextButton" class="next-button" type="submit">Next</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>    
                                                        </div>
                                                    </form>
                                                </div>

                                                <iframe class="frame-1" title="DeviceFingerPrinting" hidden></iframe>
                                                <iframe class="frame-2" hidden></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="Footer" class="footer">
                        <div id="FooterLinks" style="margin-left: 0px; margin-right: 0px; margin-bottom: 0px; margin-top: 0px; font-size: 13px; float: right;">
                            <a href="#">Terms of use</a>
                            <a href="#">Privacy & cookies</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
</script>

<style>
    .email-error {
        color: rgb(232, 17, 35);
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
    }

    a {
        color: rgb(0, 103, 184);
        text-decoration: none;
    }

    .footer-link {
        display: inline-block;
        font-size: 12px;
        color: rgb(0, 0, 0);
        line-height: 28px;
        margin-left: 8px;
        margin-right: 8px;
        text-decoration: none;
    }

    .footer {
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: 0px;
        overflow-x: visible;
        overflow-y: visible;
        z-index: auto;
        clear: both;
        min-height: 28px;
    }
    #Root {
        min-height: 1px;
    }
    .navigation-wrapper {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        overflow-x: auto;
        overflow-y: auto;
    }

    .background-image {
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        z-index: -1;
        position: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
    }

    .outer {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        display: table;
    }
    .inner {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        max-width: 440px;
        width: calc(100% - 40px);
        padding-top: 44px;
        padding-right: 44px;
        padding-bottom: 44px;
        padding-left: 44px;
        margin-bottom: 28px;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
        min-width: 320px;
        min-height: 338px;
        overflow-x: hidden;
        overflow-y: hidden;
        z-index: 1;
        transition-timing-function: ease-in;
        animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
        animation-duration: 0.3s;
        animation-name: route-animation-slide-in;
    }
    .route-animation {
        position: relative;
        animation-duration: 0.25s;
        animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
        animation-fill-mode: both;
        transition-property: left;
        min-height: inherit;
        animation-name: route-animation-slide-in;
    }

    button, input, select, textarea {
        font-weight: inherit;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        max-width: 100%;
        margin: 0px;
    }

    .form-title-wrapper {
        margin-top: 16px;
        margin-bottom: 12px;
        font-weight: 600;
        line-height: 28px;
        color: rgb(27, 27, 27);
        font-size: 1.5rem;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .email-input {
        height: 36px;
        width: 100%;
        outline-style: none;
        background-color: transparent;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;    
        border-top-width: 0px;    
        border-right-width: 0px;    
        border-left-width: 0px;    
        border-bottom-width: 1px;        
        border-top-color: rgb(102, 102, 102);
        border-right-color: rgb(102, 102, 102);
        border-bottom-color: rgb(102, 102, 102);
        border-left-color: rgb(102, 102, 102);
        padding-top: 6px;
        padding-right: 10px;
        padding-bottom: 6px;
        padding-left: 0px;
    }

    .button-row {
        position: absolute;
        width: 100%;
        bottom: 0px;
        text-align: right;
    }

    .next-button {
        vertical-align: middle;
        position: relative;
        overflow-x: hidden;
        overflow-y: hidden;
        text-align: center;
        display: inline-block;
        max-width: 100%;
        white-space: nowrap;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        min-height: 32px;
        min-width: 108px;
        line-height: normal;
        padding-top: 4px;
        padding-right: 12px;
        padding-bottom: 4px;
        padding-left: 12px;
        text-overflow: ellipsis;
        touch-action: manipulation;
        background-color: rgb(0, 103, 184);
        border-top-color: rgb(0, 103, 184);
        border-right-color: rgb(0, 103, 184);
        border-bottom-color: rgb(0, 103, 184);
        border-left-color: rgb(0, 103, 184);
        color: rgb(255, 255, 255);
    }
</style>