@page "/sign-up"
@model SignUpViewModel
@{
    ViewData["Title"] = "Sign up";
    Layout = "_AnonymousLayout";
}

<form method="post" target="_top" spellcheck="false" autocomplete="off">
    <div class="form-header">
        <div>
            <div role="heading">@ViewData["Title"]</div>
        </div>
    </div>
    
    <div class="form-body">
        <div style="overflow-wrap: break-word; white-space: pre-wrap;">
            <div class="form-input-control">
                <div role="alert">
                    <span class="email-error" asp-validation-for="EmailAddress"></span>
                </div>

                <div style="display: flex; flex-direction: row;">
                    <div class="form-input-container">
                        <input asp-for="EmailAddress" class="form-input" placeholder="someone@example.com" type="text"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-footer">
        <div style="display: inline-block; width: 100%; margin-bottom: 36px;">
            <div style="min-height: 1px; margin-left: 0px; margin-right: 0px;">
                <div class="form-footer-row">
                    <div style="display: inline-block;">
                        <button class="next-button" type="submit">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ClientValidation" />
}
<style>

</style>