@page "/sign-up";

@model SignUpViewModel

@{
    Layout = "_DefaultLayout";
    ViewData["Title"] = "Sign up";
}

<form method="post">
    <input type="email" asp-for="EmailAddress" placeholder="someone@example.com"/>
    <button type="submit">Next</button>
</form>