@page "/sign-up/success"

@model SignUpSuccessViewModel

@{
    Layout = "_DefaultLayout";
    ViewData["Title"] = "Success signed up!";
}

<div>
    Sign up success

    <button id="OkButton" class="ok-button" type="button">
        OK
    </button>
</div>

<script>
    const button = document.getElementById('OkButton');

    button.addEventListener('click', () => {
        window.location.href = '/profile';
    });

</script>