@page "/sign-in/password"
@model SignInPasswordViewModel
@{
    Layout = "_AnonymousLayout";
}

<form method="post">
    <div>Enter password</div>

    <span asp-validation-for="Password"></span>
    <input asp-for="Password" type="password" autocomplete="off" spellcheck="false">
    
    <a>Forgot password?</a>
    <a>Other ways to sign in</a>

    <button type="submit">Sign in</button>
</form>


@section Scripts {
    <partial name="_ClientValidation" />
}