@page "/sign-in/password"

@model SignInPasswordViewModel

@{
    ViewData["Title"] = "Sign in";
}

<div>
    <form method="post">
        <div asp-validation-summary="All"></div>
        <input asp-for="Password" type="password">

        <button type="submit">Sign in</button>
    </form>
</div>

@section Scripts {
    <partial name="_ClientValidation" />
}