@page "/sign-up/password"

@model SignUpPasswordViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "";
}

<form method="post">
    <input type="password" asp-for="Password" placeholder="Create password"/>

    <label>Show password</label>
    <input type="checkbox"/>

    <label>I would like information, tips, and offers about Richill Capital products and services.</label>
    <input type="checkbox" />
    
    <button type="submit">Next</button>
</form>
