@page "/sign-up/password"

@model SignUpPasswordViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "";
}

<div>
    SignUp password

    <form method="post">
        <button type="submit">Next</button>
    </form>
</div>