@page
@model CreateUserViewModel
@{
    ViewData["Title"] = "Create";
}

<fluent-breadcrumb class="breadcrumb">
  <fluent-breadcrumb-item href="/">Home</fluent-breadcrumb-item>
  <fluent-breadcrumb-item href="/Users">Users</fluent-breadcrumb-item>
  <fluent-breadcrumb-item>Create</fluent-breadcrumb-item>
</fluent-breadcrumb>

<h1>Create New User</h1>

<fluent-card>
    <form method="post">
        <div>
            <fluent-text-field appearance="outline" placeholder="example@domain.com">Email</fluent-text-field>
        </div>

        <div>
            <fluent-text-field appearance="outline">Name</fluent-text-field>
        </div>

        <fluent-button type="submit" appearance="accent">Submit</fluent-button>
    </form>
</fluent-card>
