@page 
@model UserDetailsViewModel

@{
}

<fluent-breadcrumb class="breadcrumb">
  <fluent-breadcrumb-item href="/">Home</fluent-breadcrumb-item>
  <fluent-breadcrumb-item href="/users/index">Users</fluent-breadcrumb-item>
  <fluent-breadcrumb-item>@Model.Id</fluent-breadcrumb-item>
</fluent-breadcrumb>

<fluent-card class="card-user-details">
  <h2>@Model.Name (@Model.Id)</h2>
  <div>
    <label>E-Mail: @Model.Email</label>
  </div>
</fluent-card>


<fluent-card>
  <fluent-tabs activeid="accounts">
      <fluent-tab id="accounts">Accounts</fluent-tab>
      
      <fluent-tab-panel id="accounts-content">
        <div>No Accounts</div>
      </fluent-tab-panel>
      
  </fluent-tabs>
</fluent-card>