@page "/users/profile"
@model UserProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

<h1>
    User Profile
</h1>

<form>
    <a class="btn btn-outline-primary">Claims</a>
    <a class="btn btn-outline-primary">Roles</a>
    <a class="btn btn-outline-primary">External Providers</a>
    <a class="btn btn-outline-primary">Change Password</a>
    <a class="btn btn-outline-primary">Delete</a>
</form>

<fluent-card>
    <h2>Profile</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>E-Mail</th>
                <td>@Model.User.Email</td>
            </tr>

            <tr>
                <th>Name</th>
                <td>@Model.User.Name</td>
            </tr>

            <tr>
                <th>E-Mail Confirmed</th>
                <td>true</td>
            </tr>
            
            <tr>
                <th>Phone Number</th>
                <td>+886 903-776-473</td>
            </tr>

            <tr>
                <th>Phone Number Confirmed</th>
                <td>false</td>
            </tr>
            <tr>
                <th>Lockout Enabled</th>
                <td>true</td>
            </tr>

            <tr>
                <th>Two Factor Enabled</th>
                <td>true</td>
            </tr>

            <tr>
                <th>Access Failed Count</th>
                <td>0</td>
            </tr>

            <tr>
                <th>Lockout End</th>
                <td></td>
            </tr>
        </tbody>
    </table>
</fluent-card>