@using System.Security.Claims

@model ClaimsPrincipal
@{
}

<fluent-card>
    <h2>Claims</h2>
    <table class="table">
        <tbody>
            <tr>
                <th>Type</th>
                <th>Value</th>
            </tr>

            @foreach (var claim in Model.Claims)
            {
                <tr>
                    <td>@claim.Type</td>
                    @if (claim.Type == "auth_time")
                    {
                        <td>
                            @DateTimeOffset.FromUnixTimeSeconds(long.Parse(claim.Value)).DateTime 
                        </td>
                    }
                    else
                    {
                        <td>@claim.Value</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</fluent-card>
