@using System.Security.Claims

@model ClaimsPrincipal
@{
}


<div class="card-header">
    <h4>Claims</h4>
</div>

<div class="card-body">
    <dl>
        @foreach (var claim in Model.Claims)
        {
            <dt>@claim.Type</dt>
            @if (claim.Type == "auth_time")
            {
                <dt>@DateTimeOffset.FromUnixTimeSeconds(int.Parse(claim.Value)).ToString("yyyy-MM-dd HH:mm:ss zzz")</dt>
            }
            else
            {
                <dt>@claim.Value</dt>
            }
        }
    </dl>
</div>
