@using Microsoft.AspNetCore.Authentication

@model AuthenticationProperties
@{
}

<fluent-card>
    <h4>Properties</h4>
    <table class="table">
        <tbody>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            @foreach (var property in Model.Items)
            {
                <tr>
                    <td>@property.Key</td>

                    @if (property.Key == ".issued" || property.Key == ".expires")
                    {
                        var dateTime = DateTimeOffset.Parse(property.Value?.ToString() ?? string.Empty);
                        <td>@dateTime.ToString("yyyy-MM-dd HH:mm:ss")</td> 
                    }
                    else
                    {
                        <td>@property.Value</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</fluent-card>