@using Microsoft.AspNetCore.Authentication

@model AuthenticationProperties
@{
}

<fluent-card>
    <h4>Properties</h4>
</fluent-card>

<fluent-card>
    <table class="table">
        <tbody>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            @foreach (var property in Model.Items)
            {
                <tr>
                    <td>@property.Key</td>
                    <td>@property.Value</td>
                </tr>
            }
        </tbody>
    </table>
</fluent-card>