@using Microsoft.AspNetCore.Authentication

@model AuthenticationProperties
@{
}

<div class="card-header">
    <h4>Properties</h4>
</div>

<div class="card-body">
    <dl>
        @foreach (var property in Model.Items)
        {
            <dt>@property.Key</dt>
            
            @if (property.Key == ".issued" || property.Key == ".expires")
            {
                <dd>@DateTimeOffset.Parse(property.Value!).ToString("yyyy-MM-dd HH:mm:ss")</dd>
            }
            else
            {
                <dd>@property.Value</dd>
            }
        }
    </dl>
</div>
