@page
@model DiagnosticsViewModel

@{
    ViewData["Title"] = "Diagnostics";
}

<h1>Diagnostics</h1>

<h3>Authentication Scheme: @Model.User.Identity!.AuthenticationType</h3>
<h3>Is Authenticated: @Model.User.Identity!.IsAuthenticated</h3>

<partial name="_Claims" model="@Model.User" />
<partial name="_Properties" model="@Model.Properties" />
