@{
    var footerLinks = new List<(string DisplayName, string Path)>()
    {
        ("Terms of use", "#"),
        ("Privacy & cookies", "#")
    };
}

<div id="AnonymousFooter">
    <div class="footer-links">
        @foreach (var link in footerLinks)
        {
            <a class="footer-link" href="@link.Path">@link.DisplayName</a>
        }
    </div>
</div>

<style>
#AnonymousFooter {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    overflow-x: visible;
    overflow-y: visible;
    z-index: auto;
    clear: both;
    min-height: 28px;
}

.footer-links {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 13px;
    float: right;
}

.footer-link {
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 12px;
    line-height: 28px;
    white-space: nowrap;
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: none;
}
</style>