<div class="Bh46b1rd8BrU4zolL9RzUg==">
    <button id="O365_MainLink_NavMenu" class="clgiLVKPzugZZns0LiPTqw== o365sx-button o365sx-waffle " type="button" role="button" title="App launcher">
        <span class="ms-Icon--WaffleOffice365 ms-icon-font-size-16" role="presentation" style="display: inline-block; font-size: 16px;">
        </span>
    </button>
</div>