<div id="AppHeader">
    <div id="SuiteHeaderRoot" class="theme-dark">
        <div style="display: flex; flex-flow: column; width: auto; height: auto; box-sizing: border-box;">
            <div style="text-overflow: ellipsis; height: 48px;">
                <div id="NavHeader"></div>
            </div>
        </div>
    </div>
</div>

<style>
    #AppHeader {
        z-index: 10;
        position: sticky;
        width: 100%;
        top: 0;
    }

    #NavHeader {
        width: 100%;
        display: flex;
        border-spacing: 0;
        white-space: nowrap;
        background-color: #006fc9;
        background-position: left top;
        background-repeat-x: repeat;
        background-image: none;
        height: 48px;
        line-height: 48px;
    }
</style>