<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Richill Capital Identity | @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RichillCapital.Identity.Web.styles.css" asp-append-version="true" />
</head>

<body>
    <div id="WebRoot">
        @await Html.PartialAsync("_SiteHeader")
        
        <div id="MainContentLanding" style="outline: none;">
            <div>
                <div>
                    <div class="body-163">
                        <div class="body-164">
                            <div class="body-165">
                                <div style="visibility: visible; display: contents;">
                                    <div class="body-244">
                                        <div class="body-164">
                                        </div>

                                        <div class="body-245">
                                            @RenderBody();
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_ServiceLauncher")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    body {
        line-height: 1.4;
        word-break: break-word;
    }

    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, 
    address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, 
    i, center, dl, dt, dd, menu, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, 
    tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, 
    output, ruby, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    body, html {
        height: 100%;
    }

    #WebRoot {
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: #f2f2f2;
    }

    #MainContentLanding {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        height: 100%;
    }

    .body-163 {
        color: rgb(36, 36, 36);
        background: rgb(255, 255, 255);
        font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        font-weight: 400;
        font-size: 14px;
        -webkit-font-smoothing: antialiased;
    }

    .body-164 {
        color: rgb(50, 49, 48);
        background: rgb(242, 242, 242);
        font-family: "Segoe UI Variable Text", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        font-weight: 400;
        font-size: 14px;
        -webkit-font-smoothing: antialiased;
    }
    
    .body-165 {
        display: flex;
        flex-flow: row;
        width: auto;
        height: auto;
        box-sizing: border-box;
        justify-content: space-between;
        background-color: rgb(242, 242, 242);
    }

    .body-244 {
        display: flex;
        flex-flow: row;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        min-height: 100vh;
    }

    .body-244 > * {
        text-overflow: ellipsis;
    }

    .body-245 {
        display: flex;
        flex-flow: column;
        width: 100vw;
        height: auto;
        box-sizing: border-box;
        overflow-x: hidden;
        min-height: 100vh;
    }
</style>