@{
    var changePasswordPage = "/password/change/index";
    var primaryText = "Change password";
    var secondaryText = "Security";
}

<div class="change-password-button">
    <a asp-page="@changePasswordPage">
        <div class="icon-container">
            <span></span>
            <span></span>
        </div>

        <div class="text-container">
            <span class="text-primary">@primaryText</span>
            <span class="text-secondary">@secondaryText</span>
        </div>
    </a>
</div>

<style>
    .change-password-button {
        text-overflow: ellipsis;
        font-family: "Segoe UI Variable Text", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        font-weight: 400;
        flex-basis: auto;
        height: auto;
        width: auto;
        flex-shrink: 1;
    }

    .button-link {
        font-family: "Segoe UI Variable Text", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: inherit;
        font-weight: inherit;
        color: rgb(0, 111, 201);
        outline: none;
        text-decoration: none;
        max-width: 100%;
        box-shadow: none;
        display: inline-block;
    }

    .icon-container {
        display: flex;
        flex-flow: row;
        width: 32px;
        height: auto;
        box-sizing: border-box;
        float: left;
        margin-left: 5px;
        margin-right: 13px;
    }

    .text-container {
        display: flex;
        flex-flow: column;
        width: auto;
        height: auto;
        box-sizing: border-box;
        max-width: 100%;
        margin-right: 13px;
    }

    .text-primary {
        font-family: "Segoe UI Variable Text", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 12px;
        font-weight: 400;
        display: block;
        text-overflow: ellipsis;
        color: rgb(50, 49, 48);
        font-weight: 600;
    }

    .text-secondary {
        text-overflow: ellipsis;
        font-family: "Segoe UI Variable Text", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 12px;
        font-weight: 400;
        display: block;
        color: rgb(96, 94, 92);
        line-height: 16px;
    }
</style>