<div class="Bh46b1rd8BrU4zolL9RzUg==">
    <button id="O365_MainLink_Me" class="clgiLVKPzugZZns0LiPTqw== H7wt1/T7kbyfSRNZ2JzVLA== o365sx-button o365sx-highContrastButton" role="button" type="button" title="Account manager for Mengsyue Tsai" >
        <div class="/B1n/h6ibI5wVz7jdDIP0A==">
            <div class="U6Cnfo0RjXJ8UEwXhZV8mQ== undefined">
                <span style="display: none;">Mengsyue Tsai</span>
            </div>

            <div class="clgiLVKPzugZZns0LiPTqw== NK6YQ060InuEH1W1LbFJ4Q==">
                <div id="O365_MainLink_MePhoto" class="x03Rvs3MQ7Id948TyiIkCQ==">
                    <div>
                        <div class="rSDngy50C4hLvjN77R3dbA==">
                            <div>
                                <div class="ohcfXYh6LUBy5DS5kNUjRQ==" style="width: 32px; height: 32px;">
                                    <div id="meInitialsButton" class="Mc+fiAdJTuKKS+yJLN3rDQ== OLlo7WBYb7HJTGfGyVkiWQ== o365sx-button o365sx-highContrastButton" style="font-size: 16px;">MT</div>
                                    
                                    <div class="_8ZYZKvxC8bvw1xgQGSkvvA==">
                                        <img src="https://storage.live.com/mydata/myprofile/expressionprofile/profilephoto:UserTileStatic,UserTileSmall/MeControlMediumUserTile?ck=1&amp;ex=24&amp;fofoff=1&amp;sc=1725756184598" style="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </button>
</div>
