@using RichillCapital.Domain.Abstractions

@inject ICurrentUser CurrentUser


<div class="current-user-root">
    <div>
        <div>
            <button id="CurrentUserButton" class="current-user-button">
                <div>
                    <div class="current-user-button-image-container">
                        <div class="current-user-button-image"></div>
                    </div>
                </div>
            </button>
            
            <div class="current-user-menu-container">
                <div class="current-user-menu">
                    <div class="current-user-info-container">
                        <div class="company">
                            <div class="company-label" style="width: 80px;">
                                <div class="company-text">Microsoft</div>
                            </div>
                        </div>

                        <div class="current-user-menu-spacer">
                        </div>
                        
                        <div class="current-user-info">
                            <a class="current-user-profile-image-link">
                                <div class="current-user-image"></div>
                            </a>

                            <div class="current-user-info-details">
                                <div class="current-user-name">
                                    @CurrentUser.Name
                                </div>
                                
                                <div class="current-user-email">
                                    @CurrentUser.Email
                                </div>
                                
                                <div class="my-account-link-container">
                                    <a asp-page="/index" class="my-account-lnik" target="_blank">
                                        My Richill Capital account
                                    </a>
                                </div>

                                <div class="current-user-commands">
                                    <a class="my-profile-link" asp-page="/profile/index" target="_top">
                                        My Profile
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        <a class="sign-out" asp-page="/signOut/index" role="button" target="_top">Sign out</a>
                    </div>

                    <div class="other-credentials">
                        <ul class="other-credentials-list">
                            <li>
                                <div class="other-credentials-list-item">
                                    <a class="other-credentials-list-item-link" target="_top">
                                        <div class="other-credentials-list-item-image"></div>

                                        <div class="other-credentials-list-item-label">
                                            <div class="other-credentials-list-item-text">
                                                Sign in with a different account
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const toggleCurrentUserMenu = () => {
        const menu = document.querySelector('.current-user-menu-container');
        const isVisible = menu.style.visibility === 'visible';

        if (isVisible) {
            menu.style.visibility = 'hidden';
            menu.style.opacity = 0;
        } else {
            menu.style.visibility = 'visible';
            menu.style.opacity = 1;
        }
    }

    document.getElementById('CurrentUserButton').addEventListener('click', toggleCurrentUserMenu);
</script>

<style>
    .current-user-menu-container {
        position: absolute;
        right: 0;
        z-index: 1000000;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: visibility 0s linear 120ms, opacity 120ms ease;
        transition: visibility 0s linear 120ms, opacity 120ms ease;
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        line-height: normal;
        box-sizing: border-box;
        opacity: 1;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        width: 320px;
        max-width: 100vw;
        -webkit-box-shadow: 0 24px 54px rgba(0, 0, 0, .15), 0 4.5px 13.5px rgba(0, 0, 0, .08);
        box-shadow: 0 24px 54px rgba(0, 0, 0, .15), 0 4.5px 13.5px rgba(0, 0, 0, .08);
    }

    .current-user-menu {
        text-align: left;
        color: #333;
        background-color: #fff;
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        line-height: normal;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .current-user-button {
        height: auto;
        min-width: auto;
        min-height: auto;
        border-style: none;
        border-width: 0;
        padding: 0;
        margin: 0;
        outline-style: none !important;
        background-color: transparent;
        text-decoration: none;
        text-align: left;
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        cursor: pointer;
        box-sizing: border-box;
        height: auto;
        min-width: auto;
        min-height: auto;
        border-style: none;
        border-width: 0;
        padding: 0;
        margin: 0;
        outline-style: none !important;
        background-color: transparent;
        text-decoration: none;
        text-align: left;
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        cursor: pointer;
    }

    .current-user-button-image-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer;
        font-size: 13px;
        width: 100%;
        height: 48px;
        color: #333;
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        line-height: normal;
        box-sizing: border-box;
    }

    .current-user-button-image {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        line-height: normal;
        box-sizing: border-box;
        width: 32px;
        height: 32px;
        margin: 8px;
        border: 1px solid #f2f2f2;
        color: #f2f2f2;
    }

    .current-user-info-container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: auto 1fr auto;
        grid-template-columns: auto 1fr auto;
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        line-height: normal;
        box-sizing: border-box;
    }

    .current-user-info-container * {
            display: block;
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }

    .company {
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        line-height: normal;
        box-sizing: border-box;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / 2;
    }

    .company-label {
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        line-height: normal;
        box-sizing: border-box;
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 4px;
    }

    .company-text {
        clip: rect(1px, 1px, 1px, 1px);
        -webkit-clip-path: inset(50%);
        clip-path: inset(50%);
        height: 1px;
        width: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        line-height: normal;
        box-sizing: border-box;
    }

    .current-user-info {
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        line-height: normal;
        box-sizing: border-box;
        min-height: 132px;
        width: 100%;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-column: 1 / 4;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .current-user-profile-image-link {
        position: relative;
        height: auto;
        min-width: auto;
        min-height: auto;
        border-style: none;
        border-width: 0;
        padding: 0;
        margin: 0;
        outline-style: none !important;
        background-color: transparent;
        text-decoration: none;
        text-align: left;
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        cursor: pointer;
        box-sizing: border-box;
        height: auto;
        min-width: auto;
        min-height: auto;
        border-style: none;
        border-width: 0;
        padding: 0;
        margin: 0;
        outline-style: none !important;
        background-color: transparent;
        text-decoration: none;
        text-align: left;
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        cursor: pointer;
        color: #333;
        display: block;
        border-radius: 50%;
        overflow: hidden;
        width: 88px;
        height: 88px;
        margin-left: 16px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .current-user-image {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        line-height: normal;
        box-sizing: border-box;
    }

    .current-user-info-details {
        font-size: 13px;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        min-width: 0;
        width: 0;
        padding-right: 12px;
    }

    .current-user-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        line-height: normal;
        box-sizing: border-box;
        padding: 1px;
        font-size: 18px;
        font-weight: 700;
        margin-top: 0;
    }

    .current-user-email {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        line-height: normal;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 1px;
        margin-top: 3px;
        font-size: 13px;
    }

    .my-account-link-container {
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        line-height: normal;
        box-sizing: border-box;
        padding: 1px;
        margin-top: 4px;
    }

    .my-account-lnik {
        display: block;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        color: #0078d6;
        background-color: inherit;
        text-decoration: underline;
    }

    .current-user-commands {
        position: relative;
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        line-height: normal;
        box-sizing: border-box;
        margin-top: 4px;
        adding: 0;
    }

    .my-profile-link {
        height: auto;
        min-width: auto;
        min-height: auto;
        border-style: none;
        border-width: 0;
        padding: 0;
        margin: 0;
        outline-style: none !important;
        background-color: transparent;
        text-decoration: none;
        text-align: left;
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: auto;
        min-width: auto;
        min-height: auto;
        border-style: none;
        border-width: 0;
        padding: 0;
        margin: 0;
        outline-style: none !important;
        background-color: transparent;
        text-decoration: none;
        text-align: left;
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        cursor: pointer;
        padding: 1px;
        font-size: 13px;
        margin-right: 34px;
        display: block;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        color: #0078d6;
        background-color: inherit;
        text-decoration: underline;
    }

    .sign-out {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: auto;
        min-width: auto;
        min-height: auto;
        border-style: none;
        border-width: 0;
        margin: 0;
        outline-style: none !important;
        text-decoration: none;
        text-align: left;
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        cursor: pointer;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1 / 2;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-column: 3 / 4;
        font-size: 13px;    color: #333;
        background-color: #fff;
        padding: 15px 14px;
    }

    .other-credentials {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, .44)), color-stop(40%, rgba(0, 0, 0, .16)), to(rgba(0, 0, 0, 0)));
        background: linear-gradient(#fff 50%, rgba(255, 255, 255, 0)), linear-gradient(rgba(0, 0, 0, .44) 0, rgba(0, 0, 0, .16) 40%, rgba(0, 0, 0, 0) 100%);
        background-repeat: no-repeat;
        background-size: 100% 12px, 100% 6px;
        background-attachment: local, scroll;
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        line-height: normal;
        box-sizing: border-box;
        overflow: auto;
        max-height: 270px;
        border-top: 1px solid rgba(0, 0, 0, .08);
    }

    .other-credentials-list {
        list-style: none;
        margin: 0;
        padding: 0;
        box-sizing: content-box;
    }

    .other-credentials-list-item {
        height: 60px;
        position: relative;
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        line-height: normal;
        box-sizing: border-box;
    }

    .other-credentials-list-item-link {
        height: auto;
        min-width: auto;
        min-height: auto;
        border-style: none;
        border-width: 0;
        padding: 0;
        margin: 0;
        outline-style: none !important;
        background-color: transparent;
        text-decoration: none;
        text-align: left;
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        cursor: pointer;
        box-sizing: border-box;
        margin: 0;
        outline-style: none !important;
        background-color: transparent;
        text-decoration: none;
        text-align: left;
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        height: auto;
        min-width: auto;
        min-height: auto;
        border-style: none;
        border-width: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: inherit;
        background-color: rgba(0, 0, 0, .04);
    }

    .other-credentials-list-item-image {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        line-height: normal;
        box-sizing: border-box;
        float: left;
        margin-left: 16px;
        margin-right: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 40px;
        height: 40px;
    }

    .other-credentials-list-item-label {
        font-size: 12px;
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        line-height: normal;
        box-sizing: border-box;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 48px;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        min-width: 0;
        width: 0;
    }

    .other-credentials-list-item-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
        line-height: normal;
        box-sizing: border-box;
        font-size: 12px;
    }
</style>