<div>
    <button class="back-button" type="button">
        <img role="presentation" src="https://logincdn.msftauth.net/shared/5/images/arrow_left_a9cc2824ef3517b6c416.svg">
    </button>
    
    <div class="current-email">@Model.EmailAddress</div>
</div>

<style>
.back-button {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    height: 24px;
    float: left;
    background-color: transparent;
    min-height: 24px;
    width: 24px;
    min-width: 24px;
    margin-right: 2px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.current-email {
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 16px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 16px;
    height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 24px;
}
</style>