<div class="message-bar" role="region">
    <div class="message-bar-content">
        <div class="icon-wrapper">
            <i class="icon"></i>
        </div>
        
        <div class="message-content-wrapper">
            <span class="message-content">
                <span>
                    <div class="message-wrapper">
                        <span class="message">Never loss access to your Richill Capital account</span>
                    </div>
                </span>
            </span>
        </div>

        <div class="actions-wrapper">
            <a class="action-link">Add an alternate email address</a>
        </div>

        <div class="dismiss-button-wrapper">
            <button class="dismiss-button">
                <span class="dismiss-button-icon-wrapper">
                    <i class="dismiss-button-icon"></i>
                </span>
            </button>
        </div>
    </div>
</div>

<style>
    .message-bar {
        font-family: "Segoe UI Variable Text", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        font-weight: 400;
        background: rgb(255, 244, 206);
        box-sizing: border-box;
        color: rgb(36, 36, 36);
        min-height: 32px;
        width: 100%;
        display: flex;
        word-break: break-word;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.133) 0px 1.6px 3.6px 0px, rgba(0, 0, 0, 0.11) 0px 0.3px 0.9px 0px;        
    }    

    .message-bar-content {
        display: flex;
        width: 100%;
        line-height: normal;
        padding: 8px 0px;
    }    

    .icon-wrapper {
        font-size: 16px;
        min-width: 16px;
        min-height: 16px;
        display: flex;
        flex-shrink: 0;
        margin: 8px 0px 8px 16px;
        align-items: center;
    }

    .icon {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-weight: normal;
        speak: none;
        font-family: FabricMDL2Icons;
        color: rgb(96, 94, 92);
    }

    .message-content-wrapper {
        min-width: 0px;
        display: flex;
        flex-grow: 1;
        margin: 8px;
        font-family: "Segoe UI Variable Text", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 12px;
        font-weight: 400;
    }

    .message-content {
        line-height: 16px;
        overflow: visible;
        text-overflow: ellipsis;
        white-space: normal;
        width: 100%;
    }

    .message-wrapper {
        display: flex;
        flex-flow: column;
        width: auto;
        height: auto;
        box-sizing: border-box;
    }

    .message {
        font-family: "Segoe UI Variable Text", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        font-weight: 400;
        color: rgb(50, 49, 48);
        display: inline;
        line-height: 1.4;
        text-overflow: ellipsis;
    }

    .actions-wrapper {
        display: flex;
        flex: 0 0 auto;
        flex-direction: row-reverse;
        align-items: center;
        margin: 0px 24px 0px 8px;
        forced-color-adjust: auto;
        line-height: 16px;
    }

    .action-link {
        font-family: "Segoe UI Variable Text", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        font-weight: 400;
        color: rgb(0, 111, 201);
        outline: none;
        text-decoration: none;
        line-height: 1.4;
        color: rgb(0, 100, 181);
    }

    .dismiss-button-wrapper {
    }

    .dismiss-button {
        outline: transparent;
        position: relative;
        font-family: "Segoe UI Variable Text", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        font-weight: 400;
        border: none transparent;
        border-radius: 4px;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        padding: 8px 12px;
        text-decoration: none;
        text-align: center;
        width: 32px;
        height: 32px;
        background-color: transparent;
        color: rgb(59, 58, 57);
        flex-shrink: 0;
        user-select: none;
    }

    .dismiss-button-icon-wrapper {
        display: flex;
        height: 100%;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .dismiss-button-icon {
        display: inline-block;
        text-align: center;
        flex-shrink: 0;
        margin: 0px 4px;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-weight: normal;
        speak: none;
        font-size: 10px;
        height: 10px;
        line-height: 10px;
        color: rgb(36, 36, 36);
        font-family: FabricMDL2Icons;
    }
</style>