<div class="service-launcher-trigger-root">
    <button id="ServiceLauncherTrigger" class="service-launcher-trigger-button" type="button" role="button" title="Service launcher">
        <span class="service-launcher-trigger-icon" style="display: inline-block; font-size: 16px;">
            O
        </span>
    </button>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const serviceLauncher = document.getElementById('ServiceLauncher');
        const trigger = document.getElementById('ServiceLauncherTrigger');
        
        serviceLauncher.style.display = 'none';

        trigger.addEventListener('click', () => {
            if (serviceLauncher.style.display === 'none') {
                serviceLauncher.style.display = 'block';
            } else {
                serviceLauncher.style.display = 'none';
            }
        });
    });
</script>

<style>
    .service-launcher-trigger-root {
        height: 100%;
        line-height: 48px;
        display: flex;
    }

    .service-launcher-trigger-button {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        min-width: 48px;
        text-align: center;
        cursor: pointer;
        outline-offset: -1px;
        background: transparent;
        border-width: 0;
        width: auto;
        height: 100%;
        box-sizing: border-box;
        overflow: visible;
        color: #f2f2f2;
        background-color: #006fc9;
    }

    .service-launcher-trigger-icon {
        font-family: ShellFabricMDL2IconsLite, ShellFabricMDL2Icons;
        display: inline-block;
        line-height: 1;
        line-height: 48px;
    }
</style>