<a class="nav-link" asp-page="/profile/index">Profile</a>
@* <a class="nav-link" asp-page="/profile/services">Services and Subscriptions</a> *@
@* <a class="nav-link" asp-page="/profile/devices">Devices</a> *@
<a class="nav-link" asp-page="/profile/security/index">Security</a>
@* <a class="nav-link" asp-page="/profile/orders">Orders</a> *@
@* <a class="nav-link" asp-page="/profile/payments">Payments</a> *@
