@inject ICurrentUser CurrentUser

@if (CurrentUser.IsAuthenticated)
{
    <form asp-area="Identity" 
        asp-page="/identity/signOut" 
        asp-route-returnUrl="@Url.Page("/index", new { area = "" })" 
        method="post" 
        id="logoutForm" 
        class="navbar-right">

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-link active">
                <a asp-area="Identity" asp-page="/profile/index" title="Profile">Hello @CurrentUser.Id</a>
            </li>

            <li class="nav-link active">
                <a asp-page="/identity/signOut" title="Sign out">Sign Out</a>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/identity/signUp">Sign Up</a></li>
        <li><a asp-area="Identity" asp-page="/identity/signIn">Sign In</a></li>
    </ul>
}
