<div>
    <a>English (United States)</a>
    <a>Your Privacy Choices</a>
    <a>Consumer Health Privacy</a>

    <div>
        <li>Privacy & cookies</li>
        <li>Terms of use</li>
        <li>Contact us</li>
        <li>Feedback</li>
        <li>&copy; Microsoft 2024</li>
    </div>
</div>