<div id="SiteHeader">
    <div class="site-header-left-region"></div>
    <div class="site-header-center-region"></div>
    <div class="site-header-right-region"></div>
</div>

<style>
    #SiteHeader {
        top: 0;
        width: 100%;
        position: sticky;
        z-index: 10;
    }

    .site-header-left-region {
    }

    .site-header-center-region {
    }

    .site-header-right-region {
    }
</style>