@{
}

<div>
    <div class="header-left">
        <button type="button" role="button" title="App launcher"></button>
    </div>

    <div class="header-center">
    </div>

    <div class="header-right">
    </div>
</div>

<style>
    .header-left {
    }

    .header-center {
    }

    .header-right {
    }
</style>