@{
    var assemblyName = "Richill Capital Identity";
}

<div id="SiteBrand" class="site-brand">
    <div class="site-brand">
        <a class="site-brand-link" asp-page="/index" title="@assemblyName">
            @assemblyName
        </a>
    </div>
</div>

<style>
    #site-brand {
        display: inherit;
        flex: inherit;
        justify-content: inherit;
        order: inherit;
        align-self: inherit;
        min-width: inherit;
    }

    .site-brand-link {
        font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: inherit;
        font-weight: 600;
        outline: none;
        text-decoration: none;
        padding-left: 8px;
        padding-right: 20px;
        color: rgb(242, 242, 242);
        background: rgb(0, 111, 201);
        text-decoration: none;
    }
</style>