<div id="SiteHeader">
    <div id="SuiteHeaderRoot">
        <div id="CookieBanner"></div>
        @* <button>skip to main</button> *@
        <div class="site-header-container">
            <div class="site-header-content-wrapper">
                <div class="site-header-content" style="height: 48px; line-height: 48px;">
                    <div id="SiteHeaderLeft">
                        @await Html.PartialAsync("_ServiceLauncherTrigger")
                    </div>

                    <div id="SiteHeaderCenter" style="width: calc(100% - 96px);">
                        <div style="width: 100%;">
                            <div>
                                <div style="position: relative;">
                                    <div>
                                        <div class="site-header-center-content">
                                            <div class="site-header-center-content-start" style="flex: 0 1 auto; justify-content: flex-start">
                                                <div class="brand-container">
                                                    @await Html.PartialAsync("_SiteBrand")
                                                </div>
                                            </div>

                                            <div class="site-header-center-content-middle" 
                                                style="flex: 1 1 auto; justify-content: flex-start; min-width: 32px">
                                            </div>
                                            <div class="site-header-center-content-end" style="justify-content: flex-end;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="SiteHeaderRight">
                        @await Html.PartialAsync("_CurrentUser")
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #SiteHeader {
        z-index: 10;
        position: sticky;
        width: 100%;
        top: 0;
    }

    .site-header-container {
        display: flex;
        flex-flow: column;
        width: auto;
        height: auto;
        box-sizing: border-box;
    }

    .site-header-container > * {
        text-overflow: ellipsis;
    }

    .site-header-content-wrapper {
        height: 48px;
    }

    .site-header-content {
        width: 100%;
        height: 50px;
        display: flex;
        border-spacing: 0;
        white-space: nowrap;
        line-height: normal;
        background-color: #006fc9;
        background-position: left top;
        background-repeat-x: repeat;
        background-image: none;
    }

    #SiteHeaderLeft {
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        text-align: center;
        height: 100%;
    }

    #SiteHeaderCenter {
        display: flex;
        flex: 1 0 auto;
        height: 100%;
    }

    .site-header-center-content {
        height: 48px;
        display: flex;
    }
    
    .site-header-center-content-start {
        height: 48px;
        display: flex;
    }

    .brand-container {
        height: 100%;
        line-height: 48px;
        display: flex;
    }

    .site-header-center-content-middle {
        height: 48px;
        display: flex;
        overflow: hidden;
    }

    .site-header-center-content-end {
        height: 48px;
        display: flex;
    }

    #SiteHeaderRight {
        display: flex;
        flex: 0 0 auto;
        color: #f2f2f2;
        background-color: #006fc9;
    }
</style>