@{
    var organziationLinks = new List<(string Text, string Url)>
    {
        ("Privacy & cookies", "/"),
        ("Terms of use", "/"),
        ("Contact us", "/"),
    };
}

<footer id="SiteFooter">
    <div class="site-footer">
        <a class="locale-picker-link"></a>
        <a></a>
        <a></a>
        <a></a>
        
        <nav style="display: block;">
            <ul class="footer-links">
                @foreach (var link in organziationLinks)
                {
                    <li class="footer-link">
                        <a href="@link.Url">@link.Text</a>
                    </li>
                }
                <li class="footer-link">&copy; Richill Capital @(DateTimeOffset.UtcNow.Year)</li>
            </ul>
        </nav>
    </div>
</footer>

<style>
    #SiteFooter {
        font-family: sans-serif;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        box-sizing: border-box;
        font-size: 15px;
        font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
        min-width: 320px;
        color: #000;
        background-color: #fff;
        min-width: 280px;
        background: #f2f2f2;
        margin-top: 48px;
        margin-top: 0;
    }

    #SiteFooter div {
        padding-left: 0px;
        padding-right: 0px;
    }

    .site-footer {
        box-sizing: inherit;
        background: #f2f2f2;
        margin: 0 auto;
        max-width: calc(1600px + 10%);
        padding: 30px 5% 16px;
    }

    .footer-links {
        box-sizing: inherit;
        font-size: 15px;
        padding: 0;
        list-style: none;
        padding-left: 0;
        list-style-type: none;
        font-size: 11px;
        line-height: 16px;
        float: right;
        margin: 3px 0;
        color: #616161;        
    }

    .footer-link {
        box-sizing: inherit;
        padding: 0;
        margin: 0;
        padding: 8px 0;
        padding: 0 24px 4px 0;
        display: inline-block;
    }

    @@media screen and (min-width: 860px) {
        .footer-link {
            word-break: break-word;
        }
    }
</style>