@inject ICompositeViewEngine Engine

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-page="/index" asp-area="">@ApplicationInfo.GetDisplayName()</a>

        <a class="nav-link active" asp-page="/clients/index">Clients</a>
        <a class="nav-link active" asp-page="/clients/index">Identity Resources</a>
        <a class="nav-link active" asp-page="/clients/index">Api Scopes</a>

        <a class="nav-link active" asp-page="/about">About</a>

        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            @{
                var result = Engine.FindView(
                    ViewContext, 
                    "_SignInPartial", 
                    isMainPage: false);
            }

            @if (!result.Success)
            {
                throw new InvalidOperationException(
                    "The default Identity UI layout requires a partial view '_SignInPartial' " +
                    "usually located at '/Pages/_SignInPartial' or at '/Views/Shared/_SignInPartial' to work. " +
                    "Based on your configuration we have looked at it in the following locations: " + 
                    $"{System.Environment.NewLine}{string.Join(System.Environment.NewLine, result.SearchedLocations)}.");
            }
            else
            {
                await Html.RenderPartialAsync("_SignInPartial");
            }
        </div>
    </div>
</nav>