@page "/error"
@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<fluent-card>
    <strong>Troubleshooting Details</strong>
    
    <div>Please send this information when contacting your system administrator.</div>

    <a href="#">Copy this information to the clipboard.</a>
   
    <div>
        <strong>Error Code:</strong>
        50000
    </div>

    <div>
        <strong>Request Id:</strong>
        @Guid.NewGuid()
    </div>

    <div>
        <strong>Correlation Id:</strong>
        @Guid.NewGuid()
    </div>

    <div>
        <strong>Timestamp:</strong>
        @DateTimeOffset.UtcNow.ToString("yyyy-MM-ddTHH:mm:ss.fffZ")
    </div>

    <div>
        <strong>Details:</strong>
        @Model.ErrorMessage
    </div>
</fluent-card>